<!--<div class="row-fluid show-grid">
  <div class="span6">
    <h3>Free Tenant Registration!</h3>
  </div>
  <div class="span6">
    <ul>
      <li>Real-Time "New Home" Notifications</li>
      <li>Move-In Specials and Lease Incentives</li>
      <li>Landlords Contact You with Deals</li>
    </ul>
  </div>
</div>
-->