<div class="span2 main-menu-span">
  <div class="nav-collapse sidebar-nav">
    <ul class="nav nav-tabs nav-stacked main-menu">
      <li><a href="<?php echo $this->url(array('controller'=>'welcome','action'=>'index','module'=>'admin'), null, true);?>"><i class="icon-home icon-white"></i><span class="hidden-tablet"> <?php echo $this->translate('ADMIN_LABEL_WELCOME');?></span></a></li>
            <li><a href="<?php echo $this->url(array('controller'=>'user','action'=>'index','module'=>'admin'), null, true);?>"><i class="icon-edit icon-white"></i><span class="hidden-tablet"> <?php echo $this->translate('ADMIN_LABEL_USER');?></span></a></li>
      <li><a href="<?php echo $this->url(array('controller'=>'property','action'=>'landlordindex','module'=>'admin'), null, true);?>"><i class="icon-edit icon-white"></i><span class="hidden-tablet"> <?php echo $this->translate('ADMIN_LABEL_LANDLORD');?></span></a></li>
      <li><a href="<?php echo $this->url(array('controller'=>'property','action'=>'tenantindex','module'=>'admin'), null, true);?>"><i class="icon-edit icon-white"></i><span class="hidden-tablet"> <?php echo $this->translate('ADMIN_LABEL_TENANT');?></span></a></li>
       <li><a href="<?php echo $this->url(array('controller'=>'contact','action'=>'index','module'=>'admin'), null, true);?>"><i class="icon-edit icon-white"></i><span class="hidden-tablet"> <?php echo $this->translate('ADMIN_LABEL_CONTACT');?></span></a></li>

    </ul>
  </div>
  <!--/.well --> 
</div>
