 <div class="control-group">
    <div class="controls">
 <input type="button" id="back" name="back" class="btn <?php echo ($this->data['actionName'] == 'landlordstep1')?'btn-primary':'';?>" value="<?php echo $this->translate('ADMIN_LINK_LABEL_LANDLORDSTEP1');?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'default','controller'=>'property','action'=>'landlordstep1','id'=>$this->data['id']),null,true)?>'" />
   <input type="button" id="back" name="back" class="btn <?php echo ($this->data['actionName'] == 'landlordstep2'?'btn-primary':'');?>" value="<?php echo $this->translate('ADMIN_LINK_LABEL_LANDLORDSTEP2');?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'default','controller'=>'property','action'=>'landlordstep2','id'=>$this->data['id']),null,true)?>'" />
 <input type="button" id="back" name="back" class="btn <?php echo ($this->data['actionName'] == 'landlordstep3'?'btn-primary':'');?>" value="<?php echo $this->translate('ADMIN_LINK_LABEL_LANDLORDSTEP3');?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'default','controller'=>'property','action'=>'landlordstep3','id'=>$this->data['id']),null,true)?>'" />
 <input type="button" id="back" name="back" class="btn <?php echo ($this->data['actionName'] == 'landlordstep4'?'btn-primary':'');?>" value="<?php echo $this->translate('ADMIN_LINK_LABEL_LANDLORDSTEP4');?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'default','controller'=>'property','action'=>'landlordstep4','id'=>$this->data['id']),null,true)?>'" />
  </div>
  </div>
  
