        <!-- Adsense code -->
        
        <div align="center">
	      <script type="text/javascript">
            google_ad_client = "ca-pub-8651736830870146";
            google_ad_width = 728;
            google_ad_height = 90;
            google_ad_format = "728x90_as";
            google_ad_type = "text_image";
         </script><script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>            
        </div>
        <!--Adsense code end--> 
