<script type="text/javascript">
function cancelAction() {
    window.location.href = "<?php echo $this->url(array('controller'=>'index','action'=>'index','module'=>'admin'), null, true); ?>";
}
</script>
<h1 class="page-title"><? echo $this->translate('FORGOT_PASSWORD_LABEL');?></h1>
<div class="table-container">
  <form id="frmPassword" name="frmPassword" method="post" action="">
  <table cellspacing="0" cellpadding="0" border="0" width="100%" class="form-table" align="center">
      <tbody>
       <? if(!empty($this->message)){ ?>
					<tr>
        <td width="150" colspan="2">
		
          <div class="errormsg"><?php echo $this->message?></div>
          
        </td>
      </tr>
      	  <?php } ?>
          <tr>
            <td align="right"><? echo $this->translate('FORM_LABEL_USER_EMAIL');?> : </td>
            <td><label><?php echo $this->objForm->user_email;?> </label></td>
          </tr>

          <tr><td height="12"></td><td></td></tr>
          
          <tr>
          	<td colspan="2">
            <div class="bdr_top clearfix">
			<div class="alignleft"><label class="submit-sml marg10"><?php echo $this->objForm->submit;?></label></div>&nbsp;<div class="alignright"><label class="submit-sml marg10"><?php echo $this->objForm->cancel;?></label></div> 
            <div class="alignnone"></div>
			</div>
            </td>
          </tr>
          </tbody>
   </table>
   </form>
</div>
