<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="PADDING-BOTTOM:10px;PADDING-LEFT:25px;PADDING-RIGHT:25px;BACKGROUND:#d5e6fc;PADDING-TOP:10px">
<table style="MARGIN:20px auto;WIDTH:600px;FONT-FAMILY:Arial,Helvetica,sans-serif;BACKGROUND:#ffffff;FONT-SIZE:12px" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="LINE-HEIGHT:0px;BACKGROUND:#8dbaeb"><img alt="GoSection8.com" src="https://www.gosection8.com/email/email3-top.jpg"></td></tr>
<tr>
<td style="PADDING-BOTTOM:26px;LINE-HEIGHT:22px;PADDING-LEFT:25px;PADDING-RIGHT:25px;BACKGROUND:#e6f0ff;PADDING-TOP:26px">
<table style="WIDTH:100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td>
<div style="FONT-SIZE:26px;FONT-WEIGHT:bold">Welcome to <span class="il">Property</span>!</div>
<div style="PADDING-BOTTOM:0pt;LINE-HEIGHT:20px;PADDING-LEFT:0pt;PADDING-RIGHT:0pt;FONT-SIZE:14px;FONT-WEIGHT:normal;PADDING-TOP:10px">Please confirm your email address:<br><strong><a href="mailto:pmehul20@gmail.com" target="_blank">pmehul20@gmail.com</a></strong></div></td>
<td style="TEXT-ALIGN:right;VERTICAL-ALIGN:middle"><a href="#" target="_blank"><img border="0" alt="Click to Confirm" src="http://www.gosection8.com/email/email-confirm.png"></a></td></tr></tbody></table></td></tr>
<tr>
<td style="PADDING-BOTTOM:25px;PADDING-LEFT:25px;PADDING-RIGHT:25px;BACKGROUND:#ffffff;VERTICAL-ALIGN:top;PADDING-TOP:30px">
<table style="WIDTH:100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="LINE-HEIGHT:24px;FONT-SIZE:13px;VERTICAL-ALIGN:top">After confirming your email address: <strong></strong>
<ul>
<li><strong>Your listings will become active</strong></li>
<li><strong>Tenants will be able to contact you</strong></li>
<li><strong>You can search prospective tenants</strong></li></ul><a style="COLOR:#2e86cf" href="http://tracking.gosection8.com/?a=2127&amp;m=PROD-LandlordConfirmation&amp;n=&amp;s=2b60000001262b3&amp;u=http%3a%2f%2fwww.gosection8.com%2fLL%2fFrontControllerHandler.aspx%3fconfirm%3d1%26username%3dpmehul20%40gmail.com%26password%3dmehul%26user%3d794313%26action%3dLLDefault%26m%3d39%26s%3d20&amp;t=&amp;e=pmehul20%40gmail.com" target="_blank">Click Here to Confirm Your Email</a> </td></tr></tbody></table></td></tr>
<tr>
<td style="PADDING-BOTTOM:25px;LINE-HEIGHT:15px;PADDING-LEFT:25px;PADDING-RIGHT:25px;BACKGROUND:#e6f0ff;COLOR:#8397ae;FONT-SIZE:10px;PADDING-TOP:25px">
<table style="LINE-HEIGHT:15px;FONT-FAMILY:Arial,sans-serif;COLOR:#8397ae;FONT-SIZE:10px" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="WIDTH:366px;PADDING-RIGHT:14px;BORDER-RIGHT:#cad9f0 1px dotted">If you did not make this request, or you don't want to add this email address, no further action is required.<br>Please do not respond to this message.<br>If you'd like to contact <span class="il">GoSection8</span>, please call: 866-466-7328<br><br>Affordable Housing Network, 5000 T-Rex Ave Suite 150, Boca Raton, FL 33431 <br>© 2012 <span class="il">GoSection8</span>.com </td>
<td style="TEXT-ALIGN:center;WIDTH:165px;VERTICAL-ALIGN:top"><strong style="FONT-SIZE:16px">Stay Connected!</strong><br><a href="http://tracking.gosection8.com/?a=2127&amp;m=PROD-LandlordConfirmation&amp;n=&amp;s=2b60000001262b3&amp;u=http%3a%2f%2fwww.facebook.com%2fpages%2fGoSection8%2f230345706982368&amp;t=&amp;e=pmehul20%40gmail.com" target="_blank"><img style="MARGIN:18px 6px 0px 0px" border="0" alt="" src="http://www.gosection8.com/email/email-facebook.jpg"></a> <a href="http://tracking.gosection8.com/?a=2127&amp;m=PROD-LandlordConfirmation&amp;n=&amp;s=2b60000001262b3&amp;u=http%3a%2f%2ftwitter.com%2fgosection8&amp;t=&amp;e=pmehul20%40gmail.com" target="_blank"><img style="MARGIN:18px 0px 0px" border="0" alt="" src="http://www.gosection8.com/email/email-twitter.jpg"></a> </td></tr></tbody></table></td></tr>
<tr>
<td style="LINE-HEIGHT:0px;BACKGROUND:#e6f0ff;min-height:24px"><img alt="GoSection8.com" src="https://www.gosection8.com/email/email3-footer.jpg"></td></tr></tbody></table></td></tr></tbody></table>