

<hr />
<!--<div align="center">
<ul class="inline">
  <li class="<?php echo ($this->controllerName == 'page' && $this->actionName == 'about')?'active':'';?>"><a href="#"><?php echo $this->translate('FRONT_LABEL_ABOUT_US');?></a></li>
  <li class="<?php echo ($this->controllerName == 'page' && $this->actionName == 'termsconditions')?'active':'';?>"><a href="#"><?php echo $this->translate('FRONT_LABEL_TERMS');?></a></li>
  <li class="<?php echo ($this->controllerName == 'page' && $this->actionName == 'privacypolicy')?'active':'';?>"><a href="#"><?php echo $this->translate('FRONT_LABEL_PRIVANCY');?></a></li>
  <li class="<?php echo ($this->controllerName == 'page' && $this->actionName == 'help')?'active':'';?>"><a href="#"><?php echo $this->translate('FRONT_LABEL_HELP');?></a></li>
</ul>
</div>
-->
<div class="footer">
  <p class="text-center"><a href="http://section8housing.us">Section8Housing.us</a> &copy; <?php echo date('Y');?></p>
</div>
