<div class="leftBox"> 
  
  <!--<blockquote class="pull-right">
<?php //echo $this->adsense; ?>
</blockquote>
-->
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span10">
        <h2>What Is Section 8?</h2>
        <p>Also known as the Choice Vouchers Program, this federal government program helps provide housing for Americans the elderly, disabled and who live in poverty. The program provides assistance in paying the monthly rental fees for homes and apartments in various locations. Local agencies manage the tenants and residences.</p>
        <p>The participants are free to select any home that is involved in the project. Housing vouchers are distributed and administered by local public housing agencies known as PHAs. The Department of Housing and Urban Development, or HUD, supplies to funds to local PHAs to run the program.</p>
        
       <p><?php echo $this->middlepartadsense; ?></p> 
       
        <p>Families issued a housing voucher must find suitable housing where the owner agrees to rent under the Section 8 program. The current residence can even be used if the landlord agrees to meet the minimum standards of health and safety set by the PHA.</p>
        <p>The PHA will supply a portion of the monthly rent directly to the landlord on behalf of the family. The family will be responsible for the difference between the amount subsidized by the program and the actual rent. Families can even use vouchers to purchase a modest home under some circumstances.</p>
        <strong>Who Is Eligible for Housing Vouchers?</strong>
        <p>To be eligible for a housing voucher, a family must fall into certain circumstances determined by the local PHA. Normally, total annual gross income and family size are factors in determining eligibility. The program is limited to United States citizens and those who have eligible immigration status.</p>
        <p>Normally, earning less than fifty percent of the median income for the country or city makes the applicant eligible for the Section 8 housing voucher program. The PHA is responsible for providing at least 75 percent of the rent payment for applicants who are below 30 percent of the median income for the area. The HUD publishes the median income levels for the entire United States.</p>
        <p>The PHA is responsible for verifying all information related to the applicants. This includes family income, assets and family composition. This is verified with other local agencies, employers, banks and other public records. This information is used to determine how much assistance is reasonable to be provided by the voucher program.</p>
        <p>Those how are determined eligible are normally placed on a waiting list and will be contacted when a housing voucher becomes available. This time period can vary greatly depending on local availability and applicant volume.</p>
        <strong>How It Works</strong>
        <p>Families who are approved for the housing choice voucher program are given the option of selecting their own location to live. Vouchers are unique to each family and have an established size and housing type based on the family's individual needs.</p>
        <p>The selected unit must meet certain health and safety standards to be approved by the PHA. When a family with a voucher reaches an agreement with a landlord, the PHA will schedule an inspection and evaluate if the property meets the standards and the rent rate is reasonable.</p>
        <p>Once these factors have been determined and approved, the PHA will calculate how much of an assistance payment the family will receive. This does not limit the amount of rent the landlord can charge or how much the family will pay. The family is expected to pay thirty percent of their monthly gross income toward rent and utilities. The program also limits additional reimbursement if the family moves to a unit with a higher rent. They may not pay more than forty percent of their monthly income towards rent.</p>
        <strong>Moving While Using The Voucher Program</strong>
        <p>Since housing needs change over time based on job location, family growth or other reasons, the Section 8 program makes it easy for families to relocate. The PHA must be notified in advance of the move date and plan to move into a home that also fits the rules of the voucher program. </p>
        <p>Units anywhere in the United States are eligible for the voucher program. When a voucher initially applies for the program, they must live within the jurisdiction of the PHA assisting for at least twelve months. After this period, moving to another PHA's jurisdiction means the rules and regulations of the new PHA will be enforced. The family should alert their current PHA of their intent to move in advance.</p>
        <strong>Obligations of Tenant</strong>
        <p>The tenant is responsible for paying a security deposit and complying with program's requirements. This includes paying the rent on time and maintaining the unit's condition. They must also notify the PHA of any changes in family size or income.</p>
        <strong>Obligation of Landlord</strong>
        <p>The landlord must maintain his property to the standard of sanitary and safe housing as established by the PHA. They must also charge a reasonable rent rate and abide by all contractual obligations of the agreement.</p>
        <strong>Obligation of Public Housing Authority</strong>
        <p>The PHA enforces the safety and health regulations that the landlord must follow. The PHA can terminate the assistance payments if either the landlord or tenants do not meet their obligations. The PHA must regularly analyze the family's income and change and ensure that they are still qualified for the program.</p>
        <strong>Obligations of The HUD</strong>
        <p>The HUD covers the costs of the program. They provide the needed funds to be distributed by the PHA. They also analyze PHAs and assign new PHA resources as needed. The HUD monitors the PHA's administrative performance and makes sure all members follow the rules properly. </p>
      
       <p><?php echo $this->bottompartadsense; ?></p>   
        
      </div>
      <div class="span2"> <?php echo $this->rightsideadsense; ?> </div>
    </div>
  </div>
</div>
