<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="<?php echo $this->url(array('controller'=>'index','action'=>'index','module'=>'default'), 'default', true);?>">Section8Housing.us</a>
          
          <div class="nav-collapse collapse">
            <ul class="nav">
            
              <li class="<?php echo ($this->controllerName == 'index' && $this->actionName == 'index')?'active':'';?>"><a href="<?php echo $this->url(array('controller'=>'index','action'=>'index','module'=>'default'), 'default', true);?>"><?php echo $this->translate('FRONT_LABEL_HOME');?></a></li>
              
              <!--<li class="<?php echo ($this->controllerName == 'page' && $this->actionName == 'about')?'active':'';?>"><a href="<?php echo $this->url(array('controller'=>'page','action'=>'about','module'=>'default'), 'about_us', true);?>"><?php echo $this->translate('FRONT_LABEL_ABOUT_US');?></a></li>-->
          
          <li class="<?php echo ($this->controllerName == 'agency' && $this->actionName == 'index' || $this->actionName == 'state')?'active':'';?>"><a href="<?php echo $this->url(array('controller'=>'agency','action'=>'index','module'=>'default'), 'how_to_apply', true);?>"><?php echo $this->translate('FRONT_LABEL_HOW_TO_APPLY');?></a></li>
          
          <li class="<?php echo ($this->controllerName == 'contact' && $this->actionName == 'index')?'active':'';?>"><a href="<?php echo $this->url(array('controller'=>'contact','action'=>'index','module'=>'default'), 'default', true);?>"><?php echo $this->translate('FRONT_LABEL_CONTACT');?></a></li>

          <li class="<?php echo ($this->controllerName == 'Tenant' && $this->actionName == 'index' || $this->actionName == 'rentaldetails' )?'active':'';?>"><a href="<?php echo $this->url(array('controller'=>'Tenant','action'=>'index','module'=>'default'), 'default', true);?>"><?php echo $this->translate('FRONT_LABEL_FIND_RENTALS');?></a></li>

          <li class="<?php echo ($this->controllerName == 'Tenant' && $this->actionName == 'localtenants' )?'active':'';?>"><a href="<?php echo $this->url(array('controller'=>'Tenant','action'=>'localtenants','module'=>'default'), 'default', true);?>"><?php echo $this->translate('FRONT_LABEL_FIND_LOCAL_TENANT');?></a></li>
          
                    <?php if(isset($this->objSess->user_option) && $this->objSess->user_option == LANDLORD) { ?>
          <li class="<?php echo ($this->actionName == 'dashboard' || $this->actionName == 'propertylisting' || $this->actionName == 'propertydetails')?'active':'';?>"><a href="<?php echo $this->url(array('controller'=>'property','action'=>'dashboard','module'=>'default'), 'default', true);?>"><?php echo $this->translate('FRONT_LABEL_DASHBOARD');?></a></li>
          
          <li class="<?php echo ($this->actionName == 'userprofile')?'active':'';?>"><a href="<?php echo $this->url(array('controller'=>'user','action'=>'userprofile','module'=>'default'), 'default', true);?>"><?php echo $this->translate('FRONT_LABEL_USERPROFILE');?></a></li>
          
          <?php }elseif(isset($this->objSess->user_option) && $this->objSess->user_option == TENANT){ ?>
          <li class="<?php echo ($this->actionName == 'tenantdetails')?'active':'';?>"><a href="<?php echo $this->url(array('controller'=>'user','action'=>'tenantdetails','module'=>'default'), 'default', true);?>"><?php echo $this->translate('FRONT_LABEL_MYACCOUNT');?></a></li>
          
          <?php } ?>

          
          <?php if(!isset($this->objSess->user_id)){ ?>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">User<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li class="<?php echo ($this->actionName == 'register')?'active':'';?>"><a href="<?php echo $this->url(array('module'=>'default','controller'=>'user','action'=>'register'),'registeration',true)?>">User Registration</a></li>
                    <li class="<?php echo ($this->actionName == 'login')?'active':'';?>"><a href="<?php echo $this->url(array('module'=>'default','controller'=>'user','action'=>'login'),'login',true)?>">User Login</a></li>
                </ul>
              </li>
                <?php } ?>
            </ul>
            
              <?php if(isset($this->objSess->user_id)){ ?>
                  <div class="navbar-form pull-right">
                      <ul class="nav">
                        <li style="padding: 10px; color:#FFF;"> Welcome, <strong><?php echo $this->objSess->first_name;?></strong> </li>
                        <li><a href="<?php echo $this->url(array('controller'=>'user','action'=>'logout','module'=>'default'), 'default', true);?>"><?php echo $this->translate('ADMIN_LABEL_LOGOUT');?></a></li>
                      </ul>
                  </div>
  			<?php } ?>
         
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>