<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6">
    
     <a href="<?php echo $this->url(array('controller'=>'index','action'=>'index','module'=>'default'), 'default', true);?>"><?php echo $this->translate('FRONT_LABEL_HOME');?></a>&nbsp;>>&nbsp;<?php echo $this->translate('FRONT_LABEL_CONTACT');?>

    
      <h2>Contact Us</h2>
      <form id="PSForm" method="POST" enctype="multipart/form-data" class="form-horizontal">
        <?php if(!empty($this->message)){ ?>
        <?php if($this->messageType=='error'){?>
        <div class="msg error"><?php echo $this->message?></div>
        <?php } else { ?>
        <div class="msg confirm"><?php echo $this->message?></div>
        <?php }?>
        <?php } ?>
        <div class="control-group">
          <label class="control-label" for="inputFirstName"><?php echo $this->translate('ADMIN_LABEL_CONTACT_NAME');?> :</label>
          <div class="controls"> <?php echo $this->objForm->name;?> </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputFirstName"><?php echo $this->translate('ADMIN_LABEL_CONTACT_EMAIL');?> :</label>
          <div class="controls"><?php echo $this->objForm->email;?></div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputFirstName"><?php echo $this->translate('ADMIN_LABEL_CONTACT_SUBJECT');?> :</label>
          <div class="controls"> <?php echo $this->objForm->subject;?> </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputFirstName"><?php echo $this->translate('ADMIN_LABEL_CONTACT_BODY');?> :</label>
          <div class="controls"> <?php echo $this->objForm->body;?> </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputFirstName"><?php echo $this->translate('ADMIN_LABEL_CONTACT_CAPTCHA');?> :</label>
          <div class="controls"> <?php echo $this->objForm->captcha;?> </div>
        </div>
        <div class="clr"></div>
        <div class="control-group">
          <div class="controls">
            <input type="hidden" id="id" name="id" value="<?php echo $this->id; ?>" >
          </div>
        </div>
        
        <!-- 1st column of main box ends here -->
        
        <div class="control-group">
          <div class="controls">
            <?php if($this->currentAction == 'Add') : ?>
            <?php echo $this->objForm->add_btn;?>
            <?php endif;?>
            <input type="button" id="back" name="back" class="btn" value="<?php echo $this->translate('ADMIN_LINK_LABEL_REGISTRATIONUSER_BACK');?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'default','controller'=>'','action'=>''),null,true)?>'" />
          </div>
        </div>
        
        <!-- box 2 BUTTONS-->
        
      </form>
    </div>
    <div class="span2"> <?php echo $this->rightsidetextadsense; ?> </div>
  </div>
</div>
