<script type="text/javascript">
function cancelAction() {
    window.location.href = "<?php echo $this->url(array('controller'=>'index','action'=>'index','module'=>'default'), null, true); ?>";
}
</script>


<h1 class="page-title"><? echo $this->translate('FORGOT_PASSWORD_LABEL');?></h1>
<div class="table-container">
  <form id="frmPassword" name="frmPassword" method="post" action="" class="form-horizontal">

		<?php if(!empty($this->message)){ ?>
        <?php if($this->messageType=='error'){?>
        <div class="msg error"><?php echo $this->message?></div>
        <?php } else { ?>
        <div class="msg confirm"><?php echo $this->message?></div>
        <?php }?>
        <?php } ?>
        
    <div class="control-group">
      <label class="control-label" for="UserEmail"><? echo $this->translate('FORM_LABEL_USER_EMAIL');?> :</label>
      <div class="controls"> <?php echo $this->objForm->user_email;?> </div>
    </div>
    <div class="control-group">
      <div class="controls"> <?php echo $this->objForm->submit;?> <?php echo $this->objForm->cancel;?> </div>
    </div>
  </form>
</div>
