<a href="<?php echo $this->url(array('controller'=>'index','action'=>'index','module'=>'default'), 'default', true);?>"><?php echo $this->translate('FRONT_LABEL_HOME');?></a>&nbsp;>>&nbsp;<?php echo $this->translate('FRONT_LABEL_LOGIN');?>

<h2>User Login</h2>


<?php if(!empty($this->message)){ ?>
<?php if($this->messageType=='error'){?>
<div class="errormsg error"><?php echo $this->message?></div>
  <?php } else { ?>
  <div class="msg confirm"><?php echo $this->message?></div>
<?php }?>
<?php } ?>
<fieldset>
  <form id="frmLogin" name="frmLogin" method="post" action="" class="form-horizontal">
  
    <div class="control-group">
      <label class="control-label" for="inputFirstName"><?php echo $this->translate('ADMIN_FORM_LABEL_LOGIN_EMAIL');?></label>
      <div class="controls"><?php echo $this->objForm->email;?></div>
    </div>
    <!-- .field -->
    
   <div class="control-group">
      <label class="control-label" for="inputFirstName"><?php echo $this->translate('ADMIN_FORM_LABEL_LOGIN_PASSWORD');?></label>
      <div class="controls"><?php echo $this->objForm->password;?> <a style="" href="<?php echo $this->url(array('controller'=>'user','action'=>'forgotpass','module'=>'default'), 'default', true); ?>" id="forgot_my_password">Forgot password?</a></div>
    </div>
    <!-- .field -->
    
      <div class="control-group">
	  <div class="controls"><?php echo $this->objForm->submit;?></div>
    </div>
    <!-- .field -->
  </form>
</fieldset>

<?php echo $this->fbbutton_data; ?>