<?php $this->InlineScript()->captureStart()?>
$(document).ready(function() {	
$( "#sometime_after" ).datepicker({ 
    changeMonth: true,
    changeYear: true,
    dateFormat:"yy-mm-dd" 
    }
);
                
                
$('#state_id').change(function() {           
    $.ajax({
        type: "POST",
        url: "<?php echo $this->url(array('controller'=>'user','action'=>'getcounty','module'=>'default'), 'default', true);?>",
        data: { state_id: $('#state_id').val() },
        dataType: 'JSON',
        cache: false,
        success: function(data){            
            //console.log(data);
            if(data){
                $('#county').find('option').remove();
                $.each(data, function(key, value) {
                    $('#county').append($('<option>').text(value).attr('value', key));
                    <?php if(isset($this->county) && $this->county != ''):?>
                     $("#county").val('<?php echo $this->county;?>');
				    <?php endif;?> 
    
                });
            } else {
            	$('#county').find('option').remove();
            }
        }
    });
        
});

<?php if(isset($this->id) && $this->id!= ''): ?>
	$('#state_id').trigger('change');
<?php endif;?>


                       
});
<?php $this->InlineScript()->captureEnd()?>
<form id="PSForm" method="POST" enctype="multipart/form-data" class="form-horizontal">
  <?php if(!empty($this->message)){ ?>
  <?php if($this->messageType=='error'){?>
  <div class="msg error"><?php echo $this->message?></div>
  <?php } else { ?>
  <div class="msg confirm"><?php echo $this->message?></div>
  <?php }?>
  <?php } ?>
  <div class="control-group">
    <label class="control-label" for="inputFirstName"><?php echo $this->translate('ADMIN_LABEL_TENANTREGISTRATION_FIRST_NAME');?> :</label>
    <div class="controls"> <?php echo $this->objForm->first_name;?> </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputLastName"><?php echo $this->translate('ADMIN_LABEL_TENANTREGISTRATION_LAST_NAME');?> :</label>
    <div class="controls"><?php echo $this->objForm->last_name;?></div>
  </div>
   <div class="control-group">
    <label class="control-label" for="inputState"><?php echo $this->translate('ADMIN_LABEL_TENANTREGISTRATION_STATE');?> :</label>
    <div class="controls"> <?php echo $this->objForm->state_id;?> </div>
  </div>
  <div class="control-group">                                                     
    <label class="control-label" for="inputState"><?php echo $this->translate('ADMIN_LABEL_TENANTREGISTRATION_COUNTRY');?> :</label>
    <div class="controls"> <?php echo $this->objForm->county;?> </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputState"><?php echo $this->translate('ADMIN_LABEL_TENANTREGISTRATION_CITY');?> :</label>
    <div class="controls"> <?php echo $this->objForm->city;?> </div>
  </div>
   <div class="control-group">
    <label class="control-label" for="inputState"><?php echo $this->translate('ADMIN_LABEL_TENANTREGISTRATION_BEDROOMS');?> :</label>
    <div class="controls"> <?php echo $this->objForm->bedrooms;?> </div>
  </div>
   <div class="control-group">
    <label class="control-label" for="inputState"><?php echo $this->translate('ADMIN_LABEL_TENANTREGISTRATION_PROPERTY_TYPE');?> :</label>
    <div class="controls"> <?php echo $this->objForm->property_type;?> </div>
  </div>
   <div class="control-group">
    <label class="control-label" for="inputState"><?php echo $this->translate('ADMIN_LABEL_TENANTREGISTRATION_RENT');?> $:</label>
    <div class="controls"> <?php echo $this->objForm->rent;?> </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPhone"><?php echo $this->translate('ADMIN_LABEL_TENANTREGISTRATION_PHONE');?> :</label>
    <div class="controls"> <?php echo $this->objForm->phone;?> </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputSometimeAfter"><?php echo $this->translate('ADMIN_LABEL_TENANTREGISTRATION_SOMETIME_AFTER');?> :</label>
    <div class="controls"> <?php echo $this->objForm->sometime_after;?> </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputVoucherStatus"><?php echo $this->translate('ADMIN_LABEL_TENANTREGISTRATION_VOUCHER_STATUS');?> :</label>
    <div class="controls"> <?php echo $this->objForm->voucher_status;?> </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPets"><?php echo $this->translate('ADMIN_LABEL_TENANTREGISTRATION_PETS');?> :</label>
    <div class="controls"> <?php echo $this->objForm->pets;?> </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputAccessibilityNeeds"><?php echo $this->translate('ADMIN_LABEL_TENANTREGISTRATION_ACCESSIBILITY_NEEDS');?> :</label>
    <div class="controls"> <?php echo $this->objForm->accessibility_needs;?> </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputFreeListingAlerts"><?php echo $this->translate('ADMIN_LABEL_TENANTREGISTRATION_FREE_LISTING_ALERTS');?> :</label>
    <div class="controls"> <?php echo $this->objForm->free_listing_alerts;?> </div>
  </div>
  <div class="clr"></div>
  <div class="control-group">
    <div class="controls">
      <input type="hidden" id="id" name="id" value="<?php echo $this->id; ?>" >
    </div>
  </div>
  
  <!-- 1st column of main box ends here -->
  
  <div class="control-group">
    <div class="controls">
      <?php if($this->currentAction == 'tenantregister') : ?>
      <?php echo $this->objForm->add_btn;?>
      <?php else : ?>
      <?php echo $this->objForm->edit_btn;?>
      <?php endif;?>
      
      <?php if($this->id){ ?>
            <input type="button" id="back" name="back" class="btn" value="<?php echo $this->translate('ADMIN_LINK_LABEL_TENANTREGISTRATION_BACK');?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'default','controller'=>'user','action'=>'tenantaccountedit'),null,true)?>'" />
      <?php }else {?>
            <input type="button" id="back" name="back" class="btn" value="<?php echo $this->translate('ADMIN_LINK_LABEL_TENANTREGISTRATION_BACK');?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'default','controller'=>'user','action'=>'tenantaccount'),null,true)?>'" />
      <?php } ?>
    </div>
  </div>
  <!-- box 2 BUTTONS-->
  
</form>
