<div>
				<hr>
				<ul class="breadcrumb">
					<li>
						<a href="#">Home</a> <span class="divider">/</span>
					</li>
					<li>
						<a href="#">Dashboard</a>
					</li>
				</ul>
				<hr>
			</div>
            		
	
            <div class="sortable row-fluid">
				
				<a class="quick-button span2" href="<?php echo $this->url(array('controller'=>'property','action'=>'landlordindex','module'=>'admin'), null, true);?>">
					<i class="fa-icon-group"></i>
					<p><?php echo $this->translate('ADMIN_LABEL_LANDLORDS'); ?></p>
					<span class="notification"><?php echo $this->arrDataList; ?></span>
				</a>
				<a class="quick-button span2" href="<?php echo $this->url(array('controller'=>'property','action'=>'tenantindex','module'=>'admin'), null, true);?>">
					<i class="fa-icon-comments-alt"></i>
					<p><?php echo $this->translate('ADMIN_LABEL_TENANTS'); ?></p>
					<span class="notification green"><?php echo $this->arrList; ?></span>
				</a>
			</div>
            <hr>          
	