<?php $this->InlineScript()->captureStart()?>
$(document).ready(function() {	
	//make selected left menu item 
    $('#left-col-userlog').addClass('active');
                
});
<?php $this->InlineScript()->captureEnd()?>


  <?php if(!empty($this->message)){ ?>
  <?php if($this->messageType=='error'){?>
  <div class="msg error"><?php echo $this->message?></div>
  <?php } else { ?>
  <div class="msg confirm"><?php echo $this->message?></div>
  <?php }?>
  <?php } ?>
  
  <div>
    <h2><?php echo $this->translate('ADMIN_LABEL_HEADING_USERLOG');?></h2>               
  </div>
            
  <div class="clr">&nbsp;</div>  
  <!-- list table -->
  <table class="tbl-list" cellpadding="0" cellspacing="0" width="100%">
    <!-- headings -->
    <tr>
      <th class="first"> <a class="tbl_link" href="<?php echo $this->url(array('module'=>'admin','controller'=>'userlog','action'=>'index','sortby'=> ($this->sortby == 'D1')?'A1':'D1' ),null,true)?>"> <?php echo $this->translate('ADMIN_LABEL_USERLOG_USER');?> </a> </th>
      <th> <a class="tbl_link" href="<?php echo $this->url(array('module'=>'admin','controller'=>'userlog','action'=>'index','sortby'=> ($this->sortby == 'D2')?'A2':'D2' ),null,true)?>"> <?php echo $this->translate('ADMIN_LABEL_USERLOG_LEAD');?> </a> </th>    
      <th> <a class="tbl_link" href="<?php echo $this->url(array('module'=>'admin','controller'=>'userlog','action'=>'index','sortby'=> ($this->sortby == 'D3')?'A3':'D3' ),null,true)?>"> <?php echo $this->translate('ADMIN_LABEL_USERLOG_USEROPERATION');?> </a> </th>      
      <th> <a class="tbl_link" href="<?php echo $this->url(array('module'=>'admin','controller'=>'userlog','action'=>'index','sortby'=> ($this->sortby == 'D4')?'A4':'D4' ),null,true)?>"> <?php echo $this->translate('ADMIN_LABEL_USERLOG_CREATEDAT');?> </a> </th>      
    </tr>
    <?php if(count($this->arrDataList) < 1) : ?>
    	<tr align="center">
			<td class="first" colspan="5" valign="middle"><?php echo $this->translate('NO_RECORD_FOUND');?></td>
        </tr>
    <?php else: ?>    
		<?php foreach ( $this->arrDataList as $data ):?>
        <tr id="<?php echo $data->id; ?>" class="select-tr">
          <td class="first"><?php echo ($data->user);?></td>
          <td><?php echo $this->escape($data->lead);?></td> 
          <td><?php echo $this->escape($data->user_operation);?></td> 
          <td><?php echo $this->escape($data->dcreated);?></td>          
        </tr>
        <?php endforeach;?>    
	<?php endif; ?>
  </table>
  <!-- list table -->
  <input type="hidden" id="id" name="id">      
    
  <!-- pagination -->
  <div class="pagination alignright"><?php echo $this->paginationControl ( $this->objPaginator, 'Sliding', 'paginator.phtml', array ('extraVar' => $this->pagingExtraVar ) ); ?>
  <!-- pagination -->  
      