


<?php if(!empty($this->message)){ ?>
<?php if($this->messageType=='error'){?>

<div class="msg error"><?php echo $this->message?></div>
<?php } else { ?>
<div class="msg confirm"><?php echo $this->message?></div>
<?php }?>
<?php } ?>

<div class="container-fluid">
 <a href="<?php echo $this->url(array('controller'=>'index','action'=>'index','module'=>'default'), 'default', true);?>"><?php echo $this->translate('FRONT_LABEL_HOME');?></a>&nbsp;>>&nbsp;<?php echo $this->translate('FRONT_LABEL_FIND_RENTALS');?>


<h2>Find-Rentals</h2>


<p class="lead"> <?php echo $this->paginationControl ( $this->objPaginator, 'Sliding', 'paginators.phtml', array ('extraVar' => $this->pagingExtraVar ) ); ?> </p>

  <div class="row-fluid">
    <div class="span4" style="background-color:#F5F5F5;">
      <p class="text-center"><?php echo $this->translate('ADMIN_LABEL_REFINE_SEARCH');?> </p>
      <div class="field">
        <form method="POST" name="PSForm_search" id="PSForm_search" class="form label-inline">
          <fieldset style="margin: 0 33px;">
            <?php echo $this->objForm->txtsearch;?> <?php echo $this->objForm->rent;?>
            <label>Square Feet</label>
            <?php echo $this->objForm->square_footage_min;?>
            <?php echo $this->objForm->square_footage_max;?>
            <?php //echo $this->objForm->square_footage;?><br />
            <br />
            <label><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP2_PROPERTY_TYPE');?> </label>
            <?php echo $this->objForm->property_type;?>
            <label><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP2_BEDROOMS');?></label>
            <?php echo $this->objForm->bedrooms;?>
            <label><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP2_BATHROOMS');?></label>
            <?php echo $this->objForm->bathrooms;?> <br />
            <?php echo $this->objForm->search;?>
          </fieldset>
        </form>
      </div>
    </div>
    <div class="span6" style="background-color:#F5F5F5;">
      <p class="text-center"> <?php echo $this->translate('ADMIN_LABEL_SEARCH');?> </p>
      <form method="post" name="PSForm" id="PSForm" class="form label-inline">
        
		<?php if(count($this->arrDataList) < 1) : ?>
        <p class="text-center"><?php echo $this->translate('NO_RECORD_FOUND');?></p>
        <?php else: ?>
        <?php 
					
					foreach ( $this->arrDataList as $data ):
				?>
        <div onclick="window.location='<?php echo $this->url(array('module'=>'default','controller'=>'tenant','action'=>'rentaldetails','id'=>$data->id),null,true)?>'">
          <div class="listing">
            <?php if(isset($data->url) && $data->url != '') {?>
            <img border="0" style="border-width:0px;" src="<?php echo IMAGE_PATH.$this->escape($data->url);?>">
            <?php }else{ ?>
            <img border="0" style="border-width:0px;" src="<?php echo USER_IMAGES_PATH; ?>noimage.jpg">
            <?php } ?>
            <div class="listingcopy"> <a href="#"><?php echo $this->escape($data->address);?> ,<?php echo $this->escape($data->city);?> <?php echo $this->escape($data->statecode);?> <?php echo $this->escape($data->zip);?></a><br>
              <div class="listingphone">
                <div><?php echo $this->escape($data->phone);?></div>
              </div>
              <div class="listingextras"> Deposit: $<?php echo $this->escape($data->deposit);?></div>
            </div>
            <div class="listinginfo">
              <div style="border-bottom: 1px solid #C9D0D5; padding: 0 0 6px 0;"> <b> $<?php echo $this->escape($data->rent);?></b><br>
                <span><?php echo $this->escape($this->arrProperty_Type[$data->property_type]);?></span><br>
              </div>
              <div style="padding: 6px 0 0  0;"> <?php echo $this->escape($this->arrBedrooms[$data->bedrooms]);?> <span>Bed</span><br>
                <?php echo $this->escape($this->arrBathrooms[$data->bathrooms]);?> Bath<br>
              </div>
            </div>
            <div class="clear"></div>
            <div class="resultsdesc">
              <div> <span><?php echo strip_tags($data->highlights);?></span> </div>
            </div>
          </div>
        </div>
        <?php endforeach;  endif; ?>
      </form>
      <div class="pagination alignright" align="center"> <?php echo $this->paginationControl ( $this->objPaginator, 'Sliding', 'paginator.phtml', array ('extraVar' => $this->pagingExtraVar ) ); ?> </div>
    </div>
  </div>
</div>
<div class="clr">&nbsp;</div>
<input type="hidden" id="id" name="id">
