<?php $this->InlineScript()->captureStart()?>
$(document).ready(function() {	
                               
$('#state_id').change(function() {           
    $.ajax({
        type: "POST",
        url: "<?php echo $this->url(array('controller'=>'user','action'=>'getcounty','module'=>'default'), 'default', true);?>",
        data: { state_id: $('#state_id').val() },
        dataType: 'JSON',
        cache: false,
        success: function(data){            
            //console.log(data);
            if(data){
                $('#county').find('option').remove();
                $.each(data, function(key, value) {
                    $('#county').append($('<option>').text(value).attr('value', key));
                });
            } else {
            	$('#county').find('option').remove();
            }
            
        }
    });
        
});
                       
});
<?php $this->InlineScript()->captureEnd()?>

 <a href="<?php echo $this->url(array('controller'=>'index','action'=>'index','module'=>'default'), 'default', true);?>"><?php echo $this->translate('FRONT_LABEL_HOME');?></a>&nbsp;>>&nbsp;<?php echo $this->translate('ADMIN_BUTTON_LABEL_FRONT_FIND_TENANT');?>


<h2>Find Local Tenants</h2>

 
  <?php if(!empty($this->message)){ ?>
  <?php if($this->messageType=='error'){?>
  <div class="msg error"><?php echo $this->message?></div>
  <?php } else { ?>
  <div class="msg confirm"><?php echo $this->message?></div>
  <?php }?>
  <?php } ?>


    	<div class="field">
    	<form method="POST" name="PSForm_search" id="PSForm_search" class="form label-inline">
            <span>
               <?php echo $this->translate('ADMIN_LABEL_TENANTREGISTRATION_STATE');?> :- <?php echo $this->objForm->state_id;?>
               <?php echo $this->translate('ADMIN_LABEL_TENANTREGISTRATION_COUNTRY');?> <?php echo $this->objForm->county;?>
              <?php echo $this->translate('ADMIN_LABEL_TENANTREGISTRATION_BEDROOMS');?> :- <?php echo $this->objForm->bedrooms;?> 
      	 	  <?php echo $this->objForm->search;?> 
            </span>
         </form> 
         </div>

         
         <form method="post" name="PSForm" id="PSForm" class="form label-inline">  
         
          <br>
          <table cellpadding="0" cellspacing="0" border="0" class="table table-hover">
			<thead>
				<tr>
                	<th><?php echo $this->translate('ADMIN_LABEL_TENANTREGISTRATION_FIRST_NAME');?></th>
					<!--<th><?php echo $this->translate('ADMIN_LABEL_TENANTREGISTRATION_LAST_ACTIVE');?></th>-->                    
					<th><?php echo $this->translate('ADMIN_LABEL_TENANTREGISTRATION_PROPERTY_TYPE');?></th>
					<th><?php echo $this->translate('ADMIN_LABEL_TENANTREGISTRATION_RENT');?></th>
                    <th><?php echo $this->translate('ADMIN_LABEL_TENANTREGISTRATION_BEDROOMS');?></th>
					<th><?php echo $this->translate('ADMIN_LABEL_TENANTREGISTRATION_CITY');?></th>                   
                    <th><?php echo $this->translate('ADMIN_LABEL_TENANTREGISTRATION_VOUCHER_STATUS');?></th>
					<th><?php // echo $this->translate('ADMIN_LABEL_ACTION');?></th>
				</tr>
			</thead>
			<tbody>
				<?php if(count($this->arrDataList) < 1) : ?>
					<tr align="odd gradeX">
					<td colspan="7" align="center"><?php echo $this->translate('NO_RECORD_FOUND');?></td></tr>
				<?php else: ?>    
				<?php 
					
					foreach ( $this->arrDataList as $data ):
				?>
                
					<tr id="<?php echo $data->id; ?>" class="select">

                        <td><?php echo $this->escape($data->first_name);?></td>
                        <!--<td><?php echo $this->escape($data->dmodified);?></td>-->
						<td><?php echo $this->escape($this->arrProperty_Type[$data->property_type]);?></td>                        
						<td>$<?php echo $this->escape($data->rent);?></td>
 						<td><?php echo $this->escape($this->arrBedrooms[$data->bedrooms]);?></td> 
                        <td><?php echo $this->escape($data->city);?></td>
                        <td><?php echo $this->escape($data->voucher_status);?></td>
                        <td>
						<?php if($this->user_id) {?>
                        <?php echo $data->email;?><br /><?php echo $this->escape($data->phone);?>
                        <?php } else {?>
                         <input type="button" id="back" name="back" class="btn" value="Login to contact" onclick="window.location.href='<?php echo $this->url(array('module'=>'default','controller'=>'user','action'=>'login'), 'default', true)?>'" />
                        
                         <?php } ?>
                        </td>
					</tr>
				<?php 
					endforeach;
				 endif; ?>
			</tbody>
			</table>
		</form>	
		<div class="clr">&nbsp;</div>
		<div class="pagination alignright" align="center"><?php echo $this->paginationControl ( $this->objPaginator, 'Sliding', 'paginator.phtml', array ('extraVar' => $this->pagingExtraVar ) ); ?></div>
	
    
  <input type="hidden" id="id" name="id">      
      