<?php

		global $arrProperty_Type;
		global $arrLot_Size;
		global $arrLandlordType;
		global $arrBedrooms;
		global $arrBathrooms;
		global $arrUtilitiesType;
		global $arrLaundryType;
		global $arrHeatingType;
		global $arrParking_Type;
		global $arrPatioType;
		global $arrHeatingFuelType;
		global $arrCityWaterType;
		global $arrWaterType;
		global $arrSewerType;
		global $arrCoolingType;
		//global;
		
		//_pr($arrUtilitiesType,1);
?>
<?php $this->InlineScript()->captureStart()?>

$(document).ready(function() {	
            
    
    $.deleteProperty = function(phone,user_id) {
      if(user_id){
    	alert(phone);
          }else{
        alert('Please Login First');
          }
     };
     
});
<?php $this->InlineScript()->captureEnd()?>
<style>
.thumbnail {
    background-color: #F5F5F5;
}
</style>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3&amp;sensor=false&amp;key=AIzaSyD3VSb2IYSKdPdcDWFffqh0pGy9S47Klzk"></script> 
<script>
/*
 * Google Maps: Street View Panorama (v3)
 * http://salman-w.blogspot.com/2009/07/adding-street-view-support-to-google.html
 */
 
 
google.maps.event.addDomListener(window, "load", function() {
    var pos = new google.maps.LatLng(<?php echo $this->arrDataList['address_lat']; ?>, <?php echo $this->arrDataList['address_lng']; ?>);
    // setup google map
    var map = new google.maps.Map(document.getElementById("mapdiv"), {
        center: pos,
        zoom: 15,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    });
    // setup street view panorama
    var svp = new google.maps.StreetViewPanorama(document.getElementById("svpdiv"), {
        position: pos
    });
    // bind a street view panorama to the map
    map.setStreetView(svp);
});
</script> 
<a href="<?php echo $this->url(array('controller'=>'index','action'=>'index','module'=>'default'), 'default', true);?>"><?php echo $this->translate('FRONT_LABEL_HOME');?></a>&nbsp;>>&nbsp;<?php echo $this->translate('ADMIN_BUTTON_LABEL_FRONT_RENTAL_DETAILS');?>
<h2><?php echo $this->arrDataList['address'];?>, <?php echo $this->arrDataList['city'];?>, <?php echo $this->arrStates[$this->arrDataList['state_id']];?> <?php echo $this->arrDataList['zip'];?></h2>
<?php 
  //echo $this->message; exit;
  if(!empty($this->message)){ ?>
<?php if($this->messageType=='error'){?>
<div class="msg error"><?php echo $this->message?></div>
<?php } else { ?>
<div class="msg confirm"><?php echo $this->message?></div>
<?php }?>
<?php } ?>
<ul class="thumbnails">
  <li class="span4">
    <div class="thumbnail">
      <table cellpadding="0" cellspacing="0" border="0" class="table table-hover">
        <tbody>
          <tr>
            <td class="details" colspan="2"><h4><?php echo $this->translate('FRONT_LABEL_PROPERTY_DETAILS');?></h4></td>
          </tr>
          <tr>
            <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP2_PROPERTY_TYPE');?></td>
            <td><?php if(isset($this->arrDataList['property_type']) && $this->arrDataList['property_type'] !== '' ) {?>
              <?php echo $arrProperty_Type[$this->arrDataList['property_type']]; ?>
              <?php }else {
		 echo '---';
	  }
		?></td>
          </tr>
          <tr>
            <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP2_RENT');?></td>
            <td><?php echo $this->arrDataList['rent']; ?></td>
          </tr>
          <tr>
            <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP2_DEPOSIT');?></td>
            <td><?php echo $this->arrDataList['deposit']; ?></td>
          </tr>
          <tr>
            <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP2_BEDROOMS');?></td>
            <td><?php if(isset($this->arrDataList['bedrooms']) && $this->arrDataList['bedrooms'] !== '' ) {?>
              <?php echo $arrBedrooms[$this->arrDataList['bedrooms']]; ?>
              <?php }else {
		 echo 'Unknown';
	  }
		?></td>
          </tr>
          <tr>
            <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP2_BATHROOMS');?></td>
            <td><?php if(isset($this->arrDataList['bathrooms']) && $this->arrDataList['bathrooms'] !== '' ) {?>
              <?php echo $arrBathrooms[$this->arrDataList['bathrooms']]; ?>
              <?php }else {
		 echo '---';
	  }
		?></td>
          </tr>
          <tr>
            <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP2_SQUARE_FOOTAGE');?></td>
            <td><?php echo $this->arrDataList['square_footage']; ?></td>
          </tr>
          <tr>
            <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP2_YEAR_BUILT');?></td>
            <td><?php echo $this->arrDataList['year_built']; ?></td>
          </tr>
          <tr>
            <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP2_PET_POLICY');?></td>
            <td><?php if(isset($this->arrDataList['pet_policy']) && $this->arrDataList['pet_policy'] !== '' ) {?>
              <?php echo $arrLandlordType[$this->arrDataList['pet_policy']]; ?>
              <?php }else {
		 echo '---';
	  }
		?></td>
          </tr>
          <tr>
            <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP2_FIFTY_FIVE_ONLY');?></td>
            <td><?php if(isset($this->arrDataList['fifty_five_only']) && $this->arrDataList['fifty_five_only'] !== '' ) {?>
              <?php echo $arrLandlordType[$this->arrDataList['fifty_five_only']]; ?>
              <?php }else {
		 echo '---';
	  }
		?></td>
          </tr>
          <tr>
            <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP2_DATE_AVAILABLE');?></td>
            <td><?php echo $this->arrDataList['date_available']; ?></td>
          </tr>
          <tr>
            <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP1_NEIGHBORHOOD'); ?></td>
            <td><?php if(isset($this->arrDataList['neighborhood']) && $this->arrDataList['neighborhood'] !== '' ) {?>
              <?php echo $this->arrDataList['neighborhood']; ?>
              <?php }else {
		 echo '---';
	  }
		?></td>
          </tr>
        </tbody>
      </table>
    </div>
  </li>
  <li class="span4">
    <div class="thumbnail">
      <table cellpadding="0" cellspacing="0" border="0" class="table table-hover">
        <tbody>
          <tr>
            <?php if(isset($this->arrDataList['url']) && $this->arrDataList['url'] != ''){ ?>
            <td class="details"><div class="completecontainer">
                <div class="pr-photo">
                  <div class="pr-hide">
                    <div class="pr-hading">Property Photos<span id="count1"></span></div>
                  </div>
                  <div class="bcknone pr-clearstyle">
                    <div class="pr-clearstyle"> <img src="<?php echo IMAGE_PATH.$this->arrDataList['url'];?>" name="mainPic" class="Img2" id="Img1" /> </div>
                    
                    <!---start slideshow img--->
                    <div class="pr-hide">
                      <div class="pr-button">
                        <div id="left-btn">
                          <input type="button" value="" style="display:none;" class="button-slide-left" onClick="leftslide();"/>
                        </div>
                        <div class="pr-slide">
                          <ul id="ctl00_MainContentPlaceHolder_ppics" class="slideshow_wrap">
                            <?php foreach ( $this->arrimageDataList as $data ): ?>
                            <li><img class='linkthumb' border='0' alt='' src=<?php echo IMAGE_PATH.$data['url'];?> width='60' Height='50' /></li>
                            <?php endforeach; ?>
                          </ul>
                        </div>
                        <div id="right-btn">
                          <input type="button" value="" style="display:none;" class="button-slide-right" onClick="rightslide()"/>
                        </div>
                      </div>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>
              </div></td>
            <?php } else {?>
          <tr>
            <td class="details"><h4><?php echo $this->translate('FRONT_LABEL_PHOTO');?></h4></td>
          </tr>
        <td class="details"><img src="<?php echo USER_IMAGES_PATH; ?>noimage.jpg" width="200" height="200" alt="preview"/></td>
          <?php } ?>
        </tr>
          </tbody>
        
      </table>
    </div>
  </li>
  <li class="span4">
    <div class="thumbnail">
      <table cellpadding="0" cellspacing="0" border="0" class="table table-hover">
        <tbody>
          <tr>
            <td style="border:none;"><h4>Contact this Landlord Below</h4></td>
          </tr>
          <tr>
            <td><img class="img-icon-size" name="delete_link" id="delete_link" src="<?php echo USER_IMAGES_PATH; ?>details-call.jpg" onClick="$.deleteProperty('<?php echo $this->arrDataList['phone']?>','<?php echo $this->user_id; ?>');" /></td>
          </tr>
          <tr>
            <td><form id="PSForm" method="POST" enctype="multipart/form-data" class="form-horizontal">
                <fieldset>
                  <label><?php echo $this->translate('ADMIN_LABEL_TENANTCONTACT_FIRST_NAME');?> :</label>
                  <?php echo $this->objForm->first_name;?>
                  <label><?php echo $this->translate('ADMIN_LABEL_TENANTCONTACT_LAST_NAME');?> :</label>
                  <?php echo $this->objForm->last_name;?>
                  <label><?php echo $this->translate('ADMIN_LABEL_TENANTCONTACT_EMAIL');?> :</label>
                  <?php echo $this->objForm->email;?>
                  <label><?php echo $this->translate('ADMIN_LABEL_TENANTCONTACT_PHONE');?> :</label>
                  <?php echo $this->objForm->phone;?>
                  <label><?php echo $this->translate('ADMIN_LABEL_TENANTCONTACT_BODY');?> :</label>
                  <?php echo $this->objForm->body;?>
                  <div class="clr"></div>
                  <div class="control-group">
                    <div class="controls">
                      <input type="hidden" id="id" name="id" value="<?php echo $this->id; ?>" >
                    </div>
                  </div>
                  
                  <!-- 1st column of main box ends here -->
                  
                  <?php if($this->currentAction == 'rentaldetails') : ?>
                  <?php echo $this->objForm->add_btn;?>
                  <?php endif;?>
                  
                  <!-- box 2 BUTTONS-->
                </fieldset>
              </form></td>
          </tr>
        </tbody>
      </table>
    </div>
  </li>
</ul>
<div class="thumbnail" style="margin: 0 0 10px;">
<table cellpadding="0" cellspacing="0" border="0" class="table table-hover">
  <tbody>
    <tr>
      <td class="details"><h4><?php echo $this->translate('FRONT_LABEL_LANDLORD_COMMENTS');?></h4></td>
    </tr>
    <tr> 
      <!--      <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP2_DESCRIPTION');?></td>
-->
      <td><?php if(isset($this->arrDataList['description']) && $this->arrDataList['description'] !== '' ) { ?>
        <?php echo $this->arrDataList['description']; ?>
        <?php }else {
		 echo '---';
	  }
		?></td>
    </tr>
  </tbody>
</table>
</div>
<div class="thumbnail" style="margin: 0 0 10px;">
<table cellpadding="0" cellspacing="0" border="0" class="table table-hover">
  <tbody>
    <tr>
      <td class="details"><h4><?php echo $this->translate('FRONT_LABEL_MAP');?></h4></td>
    </tr>
    <tr>
      <td><div id="mapdiv" style="float: left; width: 50%; height: 400px;"></div>
        <?php if($this->arrDataList['street_view'] == '0') { ?>
        <div id="svpdiv" style="float: left; width: 50%; height: 400px;"></div>
        <?php } else { ?>
        <div id="svpdiv" style="float: left; width: 50%; height: 400px; display:none;"></div>
        <?php } ?>
        <div id="lat"></div>
        <div id="lng"></div></td>
    </tr>
  </tbody>
</table>
</div>
<ul class="thumbnails">
  <li class="span4">
    <div class="thumbnail">
      <table cellpadding="0" cellspacing="0" border="0" class="table table-hover">
        <tbody>
          <tr>
            <td class="details" colspan="2"><h4><?php echo $this->translate('FRONT_LABEL_WHO_PAYS_WHAT');?></h4></td>
          </tr>
          <tr>
            <td class="details"><h5><?php echo $this->translate('FRONT_LABEL_UTILITIES');?></h5></td>
          </tr>
          <tr>
            <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_UTILITIES_ELECTRIC');?></td>
            <td><?php if(isset($this->arrDataList['outdoor_trash_removal_included']) && $this->arrDataList['outdoor_trash_removal_included'] !== '' ) {?>
              <?php echo $arrUtilitiesType[$this->arrDataList['utilities_electric']]; ?>
              <?php }else {
		 echo '---';
	  }
		?></td>
          </tr>
          <tr>
            <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_UTILITIES_HEATING_FUEL');?></td>
            <td><?php if(isset($this->arrDataList['outdoor_trash_removal_included']) && $this->arrDataList['outdoor_trash_removal_included'] !== '' ) {?>
              <?php echo $arrHeatingFuelType[$this->arrDataList['utilities_heating_fuel_rent']]; 
	   }else {
		 echo '---';
	  }
		?></td>
          </tr>
          <tr>
            <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_UTILITIES_WATER');?></td>
            <td><?php if(isset($this->arrDataList['utilities_water_rent']) && $this->arrDataList['utilities_water_rent'] !== '' ) {?>
              <?php echo $arrCityWaterType[$this->arrDataList['utilities_water_rent']];
	   }else {
		 echo '---';
	  } ?></td>
          </tr>
          <tr>
            <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_UTILITIES_HOT_WATER');?></td>
            <td><?php if(isset($this->arrDataList['utilities_hot_water_rent']) && $this->arrDataList['utilities_hot_water_rent'] !== '' ) {?>
              <?php echo $arrWaterType[$this->arrDataList['utilities_hot_water_rent']];
	    }else {
		 echo '---';
	  }?></td>
          </tr>
          <tr>
            <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_UTILITIES_COOKING_FUEL');?></td>
            <td><?php if(isset($this->arrDataList['utilities_cooking_fuel_rent']) && $this->arrDataList['utilities_cooking_fuel_rent'] !== '' ) {?>
              <?php echo $arrWaterType[$this->arrDataList['utilities_cooking_fuel_rent']];
	   }else {
		 echo '---';
	  }?></td>
          </tr>
          <tr>
            <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_UTILITIES_SEWER');?></td>
            <td><?php if(isset($this->arrDataList['utilities_sewer_rent']) && $this->arrDataList['utilities_sewer_rent'] !== '' ) {?>
              <?php echo $arrSewerType[$this->arrDataList['utilities_sewer_rent']];
	   }else {
		 echo '---';
	  }?></td>
          </tr>
          <tr>
            <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_UTILITIES_COOLING');?></td>
            <td><?php if(isset($this->arrDataList['utilities_cooling_rent']) && $this->arrDataList['utilities_cooling_rent'] !== '' ) {?>
              <?php echo $arrCoolingType[$this->arrDataList['utilities_cooling_rent']];
	   }else {
		 echo '---';
	  }?></td>
          </tr>
        </tbody>
      </table>
    </div>
  </li>
  <li class="span8">
    <div class="thumbnail">
      <table cellpadding="0" cellspacing="0" border="0" class="table table-hover">
        <tbody>
          <tr>
            <td class="details" colspan="2"><h4><?php echo $this->translate('FRONT_LABEL_ADDITIONAL_DETAILS');?></h4></td>
          </tr>
          <tr>
            <td>
            <div class="thumbnail">
            <table cellpadding="0" cellspacing="0" border="0" class="table table-hover" style="background-color: #F5F5F5;">
                <tbody>
                  <tr>
                    <td class="details"><h5><?php echo $this->translate('FRONT_LABEL_INDOOR');?></h5></td>
                  </tr>
                  <tr>
                    <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_INDOOR_CEILING_FANS');?></td>
                    <td><?php if(isset($this->arrDataList['indoor_ceiling_fans']) && $this->arrDataList['indoor_ceiling_fans'] !== '' ) {?>
                      <?php echo $arrUtilitiesType[$this->arrDataList['indoor_ceiling_fans']]; ?>
                      <?php }else {
		 echo '---';
	  }
		?></td>
                  </tr>
                  <tr>
                    <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_DEPOSIT_INDOOR_FUNISHED');?></td>
                    <td><?php if(isset($this->arrDataList['indoor_furnished']) && $this->arrDataList['indoor_furnished'] !== '' ) {?>
                      <?php echo $arrUtilitiesType[$this->arrDataList['indoor_furnished']]; ?>
                      <?php }else {
		 echo '---';
	  }
		?></td>
                  </tr>
                  <tr>
                    <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_INDOOR_FIREPLACE');?></td>
                    <td><?php if(isset($this->arrDataList['indoor_furnished']) && $this->arrDataList['indoor_furnished'] !== '' ) {?>
                      <?php echo $arrUtilitiesType[$this->arrDataList['indoor_fireplace']]; ?>
                      <?php }else {
		 echo '---';
	  }
		?></td>
                  </tr>
                  <tr>
                    <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_INDOOR_CABLE_INCLUDED');?></td>
                    <td><?php if(isset($this->arrDataList['indoor_cable_included']) && $this->arrDataList['indoor_cable_included'] !== '' ) {?>
                      <?php echo $arrUtilitiesType[$this->arrDataList['indoor_cable_included']]; ?>
                      <?php }else {
		 echo '---';
	  }
		?></td>
                  </tr>
                  <tr>
                    <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_INDOOR_SECURITY_SYSTEM');?></td>
                    <td><?php if(isset($this->arrDataList['indoor_security_system']) && $this->arrDataList['indoor_security_system'] !== '' ) {?>
                      <?php echo $arrUtilitiesType[$this->arrDataList['indoor_security_system']]; ?>
                      <?php }else {
		 echo '---';
	  }
		?></td>
                  </tr>
                  <tr>
                    <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_INDOOR_LAUDRY');?></td>
                    <td><?php if(isset($this->arrDataList['indoor_laundry_type']) && $this->arrDataList['indoor_laundry_type'] !== '' ) {?>
                      <?php echo $arrLaundryType[$this->arrDataList['indoor_laundry_type']]; ?>
                      <?php }else {
		 echo '---';
	  }
		?></td>
                  </tr>
                  <tr>
                    <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_INDOOR_HEATING_TYPE');?></td>
                    <td><?php if(isset($this->arrDataList['indoor_heating_type']) && $this->arrDataList['indoor_heating_type'] !== '' ) {?>
                      <?php echo $arrHeatingType[$this->arrDataList['indoor_heating_type']]; ?>
                      <?php }else {
		 echo '---';
	  }
		?></td>
                  </tr>
                </tbody>
              </table>
              </div>
              </td>
            <td>
           <div class="thumbnail"> 
            <table cellpadding="0" cellspacing="0" border="0" class="table table-hover" style="background-color: #F5F5F5;">
                <tbody>
                  <tr>
                    <td class="details"><h5><?php echo $this->translate('FRONT_LABEL_OUTDOOR');?></h5></td>
                  </tr>
                  <tr>
                    <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_OUTDOOR_SWIMMING_POOL');?></td>
                    <td><?php if(isset($this->arrDataList['outdoor_swimming_pool']) && $this->arrDataList['outdoor_swimming_pool'] !== '' ) {?>
                      <?php echo $arrUtilitiesType[$this->arrDataList['outdoor_swimming_pool']]; ?>
                      <?php }else {
		 echo '---';
	  }
		?></td>
                  </tr>
                  <tr>
                    <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_OUTDOOR_GATED_COMMUNITY');?></td>
                    <td><?php if(isset($this->arrDataList['outdoor_gated_community']) && $this->arrDataList['outdoor_gated_community'] !== '' ) {?>
                      <?php echo $arrUtilitiesType[$this->arrDataList['outdoor_gated_community']]; ?>
                      <?php }else {
		 echo '---';
	  }
		?></td>
                  </tr>
                  <tr>
                    <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_OUTDOOR_LAWN_CARE_INCLUDED');?></td>
                    <td><?php if(isset($this->arrDataList['outdoor_lawn_care_included']) && $this->arrDataList['outdoor_lawn_care_included'] !== '' ) {?>
                      <?php echo $arrUtilitiesType[$this->arrDataList['outdoor_lawn_care_included']]; ?>
                      <?php }else {
		 echo '---';
	  }
		?></td>
                  </tr>
                  <tr>
                    <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_OUTDOOR_TRASH_REMOVAL_INCLUDED');?></td>
                    <td><?php if(isset($this->arrDataList['outdoor_trash_removal_included']) && $this->arrDataList['outdoor_trash_removal_included'] !== '' ) {?>
                      <?php echo $arrUtilitiesType[$this->arrDataList['outdoor_trash_removal_included']]; ?>
                      <?php }else {
		 echo '---';
	  }
		?></td>
                  </tr>
                  <tr>
                    <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_OUTDOOR_FENCED_YARD');?></td>
                    <td><?php if(isset($this->arrDataList['outdoor_fenced_yard']) && $this->arrDataList['outdoor_fenced_yard'] !== '' ) {?>
                      <?php echo $arrUtilitiesType[$this->arrDataList['outdoor_fenced_yard']]; ?>
                      <?php }else {
		 echo '---';
	  }
		?></td>
                  </tr>
                  <tr>
                    <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_OUTDOOR_PARKONG_TYPE');?></td>
                    <td><?php if(isset($this->arrDataList['outdoor_parking_type']) && $this->arrDataList['outdoor_parking_type'] !== '' ) {?>
                      <?php echo $arrParking_Type[$this->arrDataList['outdoor_parking_type']]; ?>
                      <?php }else {
		 echo '---';
	  }
		?></td>
                  </tr>
                  <tr>
                    <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_OUTDOOR_PARKONG_PATIO');?></td>
                    <td><?php if(isset($this->arrDataList['outdoor_trash_removal_included']) && $this->arrDataList['outdoor_trash_removal_included'] !== '' ) {?>
                      <?php echo $arrPatioType[$this->arrDataList['outdoor_patio']]; ?>
                      <?php }else {
		 echo '---';
	  }
		?></td>
                  </tr>
                </tbody>
              </table>
            </div> 
            </td>
          </tr>
          <tr>
            <td>
            <div class="thumbnail">
            <table cellpadding="0" cellspacing="0" border="0" class="table table-hover" style="background-color:#F5F5F5;">
                <tbody>
                  <tr>
                    <td class="details"><h5><?php echo $this->translate('FRONT_LABEL_KITCHEN');?></h5></td>
                  </tr>
                  <tr>
                    <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_KITCHEN_DISHWASHER');?></td>
                    <td><?php if(isset($this->arrDataList['kitchen_dishwasher']) && $this->arrDataList['kitchen_dishwasher'] !== '' ) {?>
                      <?php echo $arrUtilitiesType[$this->arrDataList['kitchen_dishwasher']]; ?>
                      <?php }else {
		 echo '---';
	  }
		?></td>
                  </tr>
                  <tr>
                    <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_KITCHEN_STOVE');?></td>
                    <td><?php if(isset($this->arrDataList['kitchen_stove']) && $this->arrDataList['kitchen_stove'] !== '' ) {?>
                      <?php echo $arrUtilitiesType[$this->arrDataList['kitchen_stove']]; ?>
                      <?php }else {
		 echo '---';
	  }
		?></td>
                  </tr>
                  <tr>
                    <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_KITCHEN_GARBAGE_DISPOSAL');?></td>
                    <td><?php if(isset($this->arrDataList['kitchen_garbage_disposal']) && $this->arrDataList['kitchen_garbage_disposal'] !== '' ) {?>
                      <?php echo $arrUtilitiesType[$this->arrDataList['kitchen_garbage_disposal']]; ?>
                      <?php }else {
		 echo '---';
	  }
		?></td>
                  </tr>
                  <tr>
                    <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_KITCHEN_REFRIGERATOR');?></td>
                    <td><?php if(isset($this->arrDataList['kitchen_refrigerator']) && $this->arrDataList['kitchen_refrigerator'] !== '' ) {?>
                      <?php echo $arrUtilitiesType[$this->arrDataList['kitchen_refrigerator']]; ?>
                      <?php }else {
		 echo '---';
	  }
		?></td>
                  </tr>
                  <tr>
                    <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_KITCHEN_MICROWAVE');?></td>
                    <td><?php if(isset($this->arrDataList['kitchen_microwave']) && $this->arrDataList['kitchen_microwave'] !== '' ) {?>
                      <?php echo $arrUtilitiesType[$this->arrDataList['kitchen_microwave']]; ?>
                      <?php }else {
		 echo '---';
	  }
		?></td>
                  </tr>
                </tbody>
              </table>
             </div>
              </td>
            <td>
            <div class="thumbnail">
            <table cellpadding="0" cellspacing="0" border="0" class="table table-hover" style="background-color:#F5F5F5;">
                <tbody>
                  <tr>
                    <td class="details"><h5><?php echo $this->translate('FRONT_LABEL_OTHER');?></h5></td>
                  </tr>
                  <tr>
                    <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP2_SMOKING_ALLOWED');?></td>
                    <td><?php if(isset($this->arrDataList['smoking_allowed']) && $this->arrDataList['smoking_allowed'] !== '' ) {?>
                      <?php echo $arrLandlordType[$this->arrDataList['smoking_allowed']]; ?>
                      <?php }else {
		 echo '---';
	  }
		?></td>
                  </tr>
                  <tr>
                    <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP2_LOT_SIZE');?></td>
                    <td><?php if(isset($this->arrDataList['lot_size']) && $this->arrDataList['lot_size'] !== '' ) {?>
                      <?php echo $arrLot_Size[$this->arrDataList['lot_size']]; ?>
                      <?php }else {
		 echo 'Unknown';
	  }
		?></td>
                  </tr>
                  <tr>
                    <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_SMOKING_ALLOWED');?></td>
                    <td><?php if(isset($this->arrDataList['outdoor_trash_removal_included']) && $this->arrDataList['outdoor_trash_removal_included'] !== '' ) {?>
                      <?php echo $arrUtilitiesType[$this->arrDataList['utilities_pest_control']]; ?>
                      <?php }else {
		 echo '---';
	  }
		?></td>
                  </tr>
                </tbody>
              </table>
             </div>
             </td>
          </tr>
        </tbody>
      </table>
    </div>
  </li>
</ul>
<div class="clr">&nbsp;</div>
<input type="hidden" id="id" name="id">

<!--<script>
function initialize() {
    var myLatlng = new google.maps.LatLng(<?php echo $lat; ?>,<?php echo $long; ?>);
    var myOptions = {
      zoom: 4,
      center: myLatlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

    var marker = new google.maps.Marker({
        position: myLatlng, 
        map: map,
        title:"Hello World!"
    });   
  }
</script>--> 

<script type="text/javascript">

      function popupinfoexit() {

          $("#popup1").fadeOut("slow", function() {

              $("#popup2").fadeOut("slow");
              $("#boxslide").css({ "left": "0" })

          });

      }

      function slideshow() {
          $("#boxslide").animate({ left: "-460px" }, "fast", 'linear');
      }
      
      var countnow = document.getElementById("count1");
      var linkval = "";
      $("img.linkthumb").mouseover(function() {
          linkval = $(this).attr("src");
          linkCaption =$(this).attr("alt");     
          $(".Img2").attr("src", linkval.replace(new RegExp('/MobilePropertyPhotos/m','gi'),'/PropertyPhotos/'));
          $("#mainPicCaption").html(linkCaption);
      });

      var slidecount = $("ul.slideshow_wrap").children().length;
      if (slidecount != 0) {
          countnow.style.display = "inline";
          countnow.innerHTML += "(" + slidecount + ")";
      }

      var clickcount = 0;

      if (slidecount > 4) {
          $(".button-slide-right").css("display", "block");
          $(".button-slide-left").css("display", "block");
      }

      if (slidecount == 1) {
          $(".slideshow_wrap").css("display", "none");
          //$(".bcknone").css({ "background": "url(/images/no-large-photo.gif) no-repeat 20px 8px #fff" });
      }

      if (slidecount == 0) {
          $(".Img2").css("display", "none");
          $(".bcknone").css({ "background": "url(/images/no-large-photo.gif) no-repeat 20px 8px #fff" });
      }

      function leftslide() {
          if (clickcount >= 1) {
              clickcount--;
              $(".button-slide-right").css("display", "block");
              $("ul.slideshow_wrap").animate({ left: '+=80px' }, "slow", function() {
              });
              if (clickcount == 0) {
                  $(".button-slide-left").css("display", "none");
              }
          }
      }

      function rightslide() {
          if (clickcount <= (slidecount - 5)) {
              clickcount++;
              $(".button-slide-left").css("display", "block");
              $("ul.slideshow_wrap").animate({ left: '-=80px' }, "slow", function() {
              });
              if ((slidecount - 4) == clickcount) {
                  $(".button-slide-right").css("display", "none");
              }
          }
      }



</script> 
