/* CSS Document */

/* Change body background-color */
body {
	background-color: #EBEBED;
	color: #333333;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	margin: 0;
}
.about p {
	text-align:justify
}
.leftBox p {
	text-align:justify
}
ul .active a {
	color:#000;
}

.table-hover .details{
	border:none;
	text-align:center;
	}
.container-fluid .text-center{
	color: #333333;
	font-size: 31px;
    padding: 16px;
    text-align: center;
	
}

/*use in adsense*/
blockquote.pull-right {
    border-left: 0 none;
    border-right: 5px solid #EEEEEE;
    float: right;
    padding-left: 13px;
    padding-right: 15px;
}

	
.table-hover .select{
	cursor:pointer;
	}

.rentdetails{
width: auto;
 height: auto; 
  -moz-border-radius: 5px;
   display: block;
    -webkit-border-radius: 5px;
	border-radius: 5px;
/*	  background: #fff;
*/	  border: 0px solid #c3d1dd;

}


/* msg css color */
.confirm {
    background-color: #DFF2BF;
    background-image: url("../img/success.png");
    border-radius: 7px 7px 7px 7px;
    color: #4F8A10;
    width: auto;
}

.error {
    background-color: #FFBABA;
    background-image: url("../img/error.png");
    border-radius: 7px 7px 7px 7px;
    color: #D8000C;
    width: auto;
}

/* for second navigation menu */


.navbar .nav {
    display: block;
    float: left;
    left: 0;
    margin: 0 -94px 0 0;
    position: relative;
}


/* navigation menu color */
.navbar-inverse .navbar-inner {
	background-color: #99CC66;
	background-image: linear-gradient(to bottom, #339999, #339999);
	background-repeat: repeat-x;
	border-color: #99CC66;
}
/* navigation menu font color */
.navbar-inverse .brand, .navbar-inverse .nav > li > a {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
/* navigation menu selected link color */
.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
	background-color: #99CC66;
	color: #FFFFFF;
}
/* navigation menu dropdown arrow color */
.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
	border-bottom-color: #ffffff;
	border-top-color: #ffffff;
}
/* navigation menu dropdown-menu aftert arrow color */
.navbar .nav > li > .dropdown-menu:after {
	border-bottom: 6px solid #339999;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	content: "";
	display: inline-block;
	left: 10px;
	position: absolute;
	top: -6px;
}
/* navigation dropdown-menu background color */
.dropdown-menu {
	background-clip: padding-box;
	background-color: #339999;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 6px 6px 6px 6px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	display: none;
	float: left;
	left: 0;
	list-style: none outside none;
	margin: 2px 0 0;
	min-width: 160px;
	padding: 5px 0;
	position: absolute;
	top: 100%;
	z-index: 1000;
}
/* navigation dropdown-menu font color */
.dropdown-menu > li > a {
	clear: both;
	color: #ffffff;
	display: block;
	font-weight: normal;
	line-height: 20px;
	padding: 3px 20px;
	white-space: nowrap;
}
/* dropdown menu select menu color */
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
	background-color: #99CC66;
	background-image: linear-gradient(to bottom, #99CC66, #99CC66);
	background-repeat: repeat-x;
	color: #FFFFFF;
	outline: 0 none;
	text-decoration: none;
}
/* dropdown menu hover color */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
	background-color: #99CC66;
	background-image: linear-gradient(to bottom, #99CC66, #99CC66);
	background-repeat: repeat-x;
	color: #FFFFFF;
	text-decoration: none;
}
/* navigation menu botom line color */
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
	box-shadow: 0 10px 0;
	color: #99CC66;
}
/* footer background color */
.footer {
	background-image: linear-gradient(to bottom, #339999, #339999);
	background-repeat: repeat-x;
	height:74px;
	margin: -20px;
	/*width:auto;*/
}
/* footer text alignment*/
.text-center {
	padding: 36px;
	text-align: center;
	color: #ffffff;
}
/* footer text color*/
.footer .text-center a {
	color: #ffffff;
	text-decoration: none;
}
/* footer line alignment and color*/
hr {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #99CC66;
	border-image: none;
	border-left: 0 none;
	border-right: 0 none;
	border-style: solid none;
	border-width: 5px 0;
	margin: 20px -20px;
}
/* for mobile site*/


/* navigation menu button color */
.navbar-inverse .btn-navbar {
	background-color: #99CC66;
	background-image: linear-gradient(to bottom, #99CC66, #99CC66);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
/* navigation menu hover color */
.navbar-inverse .btn-navbar:hover, .navbar-inverse .btn-navbar:focus, .navbar-inverse .btn-navbar:active, .navbar-inverse .btn-navbar.active, .navbar-inverse .btn-navbar.disabled, .navbar-inverse .btn-navbar[disabled] {
	color: #ffffff;
	background-color: #99CC66;
 *background-color: #99CC66;
}
/* navigation menu font color */
.navbar-inverse .nav-collapse .nav > li > a, .navbar-inverse .nav-collapse .dropdown-menu a {
	color: #FFFFFF;
}
/* navigation menu hover color */
  .navbar-inverse .nav-collapse .nav > li > a:hover,  .navbar-inverse .nav-collapse .nav > li > a:focus,  .navbar-inverse .nav-collapse .dropdown-menu a:hover,  .navbar-inverse .nav-collapse .dropdown-menu a:focus {
	background-color: #99CC66;
}
/* navigation menu dropdown open selected color */
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
	background-color: #99CC66;
	color: #FFFFFF;
}

/* navigation logout menu color */
.navbar-inverse .nav-collapse .navbar-form, .navbar-inverse .nav-collapse .navbar-search {
    border-bottom-color: #99CC66;
    border-top-color: #99CC66;
}



/* slider css */
ul.slideshow_wrap {
	width:5000px;
	height:60px;
	margin:0px;
	padding:0px;
	list-style:none;
	position:relative;
	top:0px;
	left:-10px;
}
.slideshow_wrap li {
	width:70px;
	overflow:hidden;
	height:60px;
	margin:0 0px 0 10px;
	float:left;
	display:inline;
}
.slideshow_wrap li img {
	display:block;
	border:solid 5px #eee;
	cursor: pointer;
}
.slideshow_wrap li img:hover {
	border:solid 5px #edd8bb;
}
input.button-slide-left {
	background: url("../img/arrow-left-slide.jpg") no-repeat scroll left top transparent;
}
input.button-slide-left, input.button-slide-right {
	border: medium none;
	cursor: pointer;
	height: 60px;
	margin: 0;
	padding: 0;
	width: 20px;
}
input.button-slide-right {
	background: url("../img/arrow-right-slide.jpg") no-repeat scroll left top transparent;
	}
input.button-slide-left, input.button-slide-right {
	border: medium none;
	cursor: pointer;
	height: 60px;
	margin: 0;
	padding: 0;
	width: 20px;
}

.completecontainer .pr-photo {width: 402px; height: auto; float: left; margin:-22px -32px 0 -32px;}
.completecontainer .pr-hading {font-weight: bold; padding: 13px 0 0 0; text-align: center;}
.completecontainer .pr-hading span {display:none;}
.completecontainer .pr-clearstyle .Img2 {margin:10px 20px 0 20px; border: 4px solid #eee; height: 250px; width: 352px; float: left;}
.completecontainer .pr-hide {margin: 10px 0 0 0px; padding-bottom:10px; display: block;}
.completecontainer .pr-button {width:370px; height:60px; margin:0 19px; overflow:hidden; display:inline; float:left;}
.completecontainer #left-btn {width:20px; overflow:hidden; float:left; height:60px;}
.completecontainer .pr-slide {width:310px; position:relative; margin:0px 10px; display:inline; float:left; height:60px; overflow:hidden;}
.completecontainer #right-btn {width:20px; overflow:hidden; float:left; height:60px;}
#mapdiv img{max-width:none;}
#svpdiv img{max-width:none;}



/* find rental page listing page */
.resultscontainer {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #C9D0D5;
	border-radius: 5px 5px 5px 5px;
	margin: 20px auto;
	width: 940px;
}
.resultsheader {
	float: left;
	padding: 20px;
}
.clear {
	clear: both;
}
.spotlightadcta {
	width: 104px !important;
}
.hide {
	display: none;
}
.resultsheader h1 {
	font-weight: bold;
	margin: 0;
	padding: 0;
	width: 650px;
}
.resultssocial {
	float: right;
	margin: 24px 0 0;
}
.resultswrap {
	background: none repeat scroll 0 0 #F5F6F6;
	border-top: 1px solid #C9D0D5;
	padding: 12px;
}
.resultsleft {
	float: left;
	width: 180px;
}
.resultscenter {
	float: left;
	margin-left: 12px;
	width: 442px;
}
.resultsright {
	float: right;
	width: 270px;
}
.resultscontent {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #C9D0D5;
	border-radius: 3px 3px 3px 3px;
	margin: 12px 0 0;
	padding: 8px;
}
.resultscontentheader {
	border-bottom: 1px solid #C9D0D5;
	font-size: 14px;
	font-weight: bold;
	padding: 4px 0 12px 4px;
}
.resultssubheader {
	float: left;
	font-size: 18px;
	font-weight: bold;
	padding: 12px 8px 8px;
}
.resultssubcta {
	float: right;
	padding: 8px;
}
.listing {
	border-bottom: 1px solid #C9D0D5;
	cursor: pointer;
	padding: 12px 6px 0;
}
.listing a {
	color: #2E86CF;
}
.listing:hover {
	background: none repeat scroll 0 0 #FFFCF6;
}
.listing img {
	border: 1px solid #C9D0D5;
	float: left;
	height: 100px;
	margin: 0 12px 0 0;
	width: 130px;
}
.listingcopy {
	display: inline;
	float: left;
	font-size: 12px;
	line-height: 16px;
	width: 170px;
}
.listingcopy b {
	font-size: 14px;
}
.resultsdesc {
	color: #626467;
	font-size: 12px;
	line-height: 16px;
	padding: 8px 0;
}
.listinginfo {
	background: none repeat scroll 0 0 #F5F6F6;
	border: 1px solid #C9D0D5;
	border-radius: 3px 3px 3px 3px;
	display: inline;
	float: right;
	line-height: 18px;
	overflow: hidden;
	padding: 8px 0;
	text-align: center;
	width: 80px;
}
.listingphone {
	font-weight: bold;
	padding: 4px 0 0;
}
.listingextras {
	line-height: 16px;
	padding: 4px 0 0;
}
.adsense {
	padding: 20px 0;
	text-align: center;
}
.ad {
	border: 1px solid #CCCCCC;
	display: inline-block;
	height: 600px;
	width: 160px;
}
.resultstabs {
	border-bottom: 1px solid #C9D0D5;
	padding: 6px 0 0;
}
.resultstabs a {
	background: none repeat scroll 0 0 #F5F6F6;
	border: 1px solid #C9D0D5;
	border-radius: 5px 5px 0 0;
	color: #111111 !important;
	display: inline-block;
	margin: 0 6px -1px 0;
	padding: 10px 0;
	text-align: center;
	text-decoration: none !important;
	width: 100px;
}
.resultstabs a:hover {
	background: none repeat scroll 0 0 #E7EAEA;
}
a.activetab {
	background: none repeat scroll 0 0 #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}
a.activetab:hover {
	background: none repeat scroll 0 0 #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}
.refinesearch select {
	margin: 4px 0 0;
	width: 148px;
}
.refinesearch input[type="text"] {
	border: 1px solid #C9D0D5;
	border-radius: 3px 3px 3px 3px;
	margin: 4px 0 0;
	outline: medium none;
	padding: 6px;
	width: 134px;
}
.refinesearch input[type="text"]:hover {
	border: 1px solid #B2B8BC;
}
.refinesearch input[type="text"]:focus {
	border: 1px solid #B2B8BC;
}
.resultscontent p {
	padding: 0 6px;
}
.resultscontent .p {
	padding: 6px;
}
.refinesearch {
	padding-bottom: 12px !important;
}
.refinesearch p .slidervalue {
	font-weight: bold;
}
.jslider {
	margin: 16px 4px 0;
	width: 140px;
}
.jslider .jslider-pointer {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #AAAAAA;
	border-radius: 10px 10px 10px 10px;
	height: 14px;
	top: -5px;
	width: 14px;
}
.resultsresources p {
	line-height: 20px;
}
.noslider {
	display: none;
}
.morerefineoptions {
	border-bottom: 1px solid #CCCCCC;
	display: none;
	float: left;
	line-height: 22px;
	margin: 0 0 12px;
	padding: 0 0 4px;
}
.resultsneighborhoodsdiv {
	border-bottom: 0 solid #CCCCCC;
	display: none;
	float: left;
	margin: 0;
	padding: 0 12px 6px;
}
.refinelink {
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #CCCCCC;
	padding: 6px 0 !important;
	text-align: center;
}
.refinelink a {
	background: url("/images2/results-arrow.jpg") no-repeat scroll right 7px transparent;
	cursor: pointer;
	display: inline-block;
	padding: 4px 16px 4px 4px;
	text-decoration: none !important;
}
.refinedown {
	background: url("/images2/results-arrow2.jpg") no-repeat scroll right 7px transparent !important;
}
.tablecollapse {
	border-collapse: collapse;
}
.resultsneighborhoodsdiv {
	line-height: 18px;
	text-align: left;
}
.resultsneighborhoodsdiv a {
	background: none repeat scroll 0 0 transparent;
	padding: 0;
	text-align: left;
}
.inlinefix {
}
