
			<div>
				<hr>
				<ul class="breadcrumb">
					<li>
						<a href="#">Home</a> <span class="divider">/</span>
					</li>
					<li>
						<a href="#">Contact</a>
					</li>
				</ul>
				<hr>
			</div>
			
            
            
            
			<div class="row-fluid sortable">		
				<div class="box span12">
					<div class="box-header" data-original-title>
						<h2><i class="icon-user"></i><span class="break"></span><?php echo $this->translate('ADMIN_LABEL_CONTACT'); ?></h2>
						<div class="box-icon">
							<a href="#" class="btn-setting"><i class="icon-wrench"></i></a>
							<a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="icon-remove"></i></a>
						</div>
					</div>
					<div class="box-content">
						<table class="table table-striped table-bordered bootstrap-datatable datatable">
						  <thead>
							  <tr>
								  <th> <?php echo $this->translate('ADMIN_LABEL_CONTACT_NAME'); ?> </th>
								  <th> <?php echo $this->translate('ADMIN_LABEL_CONTACT_EMAIL'); ?> </th>
								  <th> <?php echo $this->translate('ADMIN_LABEL_CONTACT_SUBJECT'); ?> </th>
                               	  <th> <?php echo $this->translate('ADMIN_LABEL_CONTACT_STATUS'); ?> </th>
								  <th>Actions</th>
							  </tr>
						  </thead>   
						  <tbody>
                        
                      
                        
                     <?php  if(count($this->arrDataList) < 1) : ?>
                            
                        <?php else: ?>    
							<?php foreach ( $this->arrDataList as $data ): ?>
                            <tr>
								<td><?php echo ($data->name);?></td>
								<td class="center"><?php echo ($data->email);?></td>
                                <td class="center"><?php echo ($data->subject);?></td>
								<td class="center">
                                <?php if($data->status == 1) { ?>
									<a href="<?php echo $this->url(array('controller'=>'contact','action'=>'changestatus','module'=>'admin','id'=>$data->id), null, true);?>"><span class="label label-success"><?php echo $this->translate('ADMIN_LABEL_CONTACT_READ'); ?></span></a>
                                  <?php }else {?>
                                    <a href="<?php echo $this->url(array('controller'=>'contact','action'=>'changestatus','module'=>'admin','id'=>$data->id), null, true);?>"><span class="label"><?php echo $this->translate('ADMIN_LABEL_CONTACT_UNREAD'); ?></span></a>
                                    <?php } ?>
								</td>

								<td class="center">
                                <a class="btn btn-info" href="<?php echo $this->url(array('controller'=>'contact','action'=>'contactdetails','module'=>'admin','id'=>$data->id), null, true);?>">
										<i class="icon-edit icon-white"></i>  
									</a>
									<a class="btn btn-danger" href="<?php echo $this->url(array('controller'=>'contact','action'=>'delete','module'=>'admin','id'=>$data->id), null, true);?>">
										<i class="icon-trash icon-white"></i> 
									</a>
								</td>
							</tr>
                            <?php
							endforeach;
							 endif; ?>
						  </tbody>
					  </table> 
                                 
					</div>
				</div><!--/span-->
			
			</div><!--/row-->

					<hr>
			<!-- end: Content -->
			