
			<div>
				<hr>
				<ul class="breadcrumb">
					<li>
						<a href="#">Home</a> <span class="divider">/</span>
					</li>
					<li>
						<a href="#">Landlord</a>
					</li>
				</ul>
				<hr>
			</div>
			
            
            
            
			<div class="row-fluid sortable">		
				<div class="box span12">
					<div class="box-header" data-original-title>
						<h2><i class="icon-user"></i><span class="break"></span><?php echo $this->translate('ADMIN_LABEL_LANDLOARDINDEX'); ?></h2>
						<div class="box-icon">
							<a href="#" class="btn-setting"><i class="icon-wrench"></i></a>
							<a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="icon-remove"></i></a>
						</div>
					</div>
					<div class="box-content">
						<table class="table table-striped table-bordered bootstrap-datatable datatable">
						  <thead>
							  <tr>
								  <th> <?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP1_NAME'); ?> </th>
								  <th> <?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP1_ADDRESS'); ?> </th>
								  <th> <?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP1_CITY'); ?> </th>
                               	  <th> <?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP1_STATE'); ?> </th>
                                  <th> <?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP2_YEAR_BUILT'); ?> </th>
                                  <th> <?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP2_DATE_AVAILABLE'); ?> </th>
                                  <th> <?php echo $this->translate('ADMIN_LABEL_REGISTRATION_STATUS'); ?> </th>
                                  <th> <?php echo $this->translate('ADMIN_LABEL_MAP_STATUS'); ?> </th>
								  <th>Actions</th>
							  </tr>
						  </thead>   
						  <tbody>
                        
                        
                        
                     <?php  if(count($this->arrDataList) < 1) : ?>
                            
                        <?php else: ?>    
							<?php foreach ( $this->arrDataList as $data ): ?>
							
							<tr>
								<td><?php echo ($data->name);?></td>
								<td class="center"><?php echo ($data->address);?></td>
                                <td class="center"><?php echo ($data->city);?></td>
                                <td class="center"><?php echo $this->arrStates[($data->state_id)];?></td>
                                <td class="center"><?php echo ($data->year_built);?></td>
                                <td class="center"><?php echo ($data->date_available);?></td>
								<td class="center">
                                <?php if($data->property_status == 1) { ?>
									<a href="<?php echo $this->url(array('controller'=>'property','action'=>'changestatus','module'=>'admin','id'=>$data->id), null, true);?>"><span class="label label-success"><?php echo $this->translate('ADMIN_LABEL_APPROVED'); ?></span></a>
                                  <?php }else {?>
                                    <a href="<?php echo $this->url(array('controller'=>'property','action'=>'changestatus','module'=>'admin','id'=>$data->id), null, true);?>"><span class="label"><?php echo $this->translate('ADMIN_LABEL_PENDING'); ?></span></a>
                                    <?php } ?>
								</td>
                              <td class="center">
                                <?php if($data->address_status == 1) { ?>
								 <span><img src="<?php echo USER_IMAGES_PATH; ?>flag_green.png" alt="preview"/></span>
                                  <?php }else {?>
                                    <span><img src="<?php echo USER_IMAGES_PATH; ?>flag_red.png" alt="preview"/></span>
                                    <?php } ?>
								</td>  
								<td class="center">
                                <a class="btn btn-info" href="<?php echo $this->url(array('controller'=>'property','action'=>'propertydetails','module'=>'admin','id'=>$data->id), null, true);?>">
										<i class="icon-edit icon-white"></i>  
									</a>
									<a class="btn btn-danger" href="<?php echo $this->url(array('controller'=>'property','action'=>'deletelandlord','module'=>'admin','id'=>$data->id), null, true);?>">
										<i class="icon-trash icon-white"></i> 
									</a>
								</td>
							</tr>
                            <?php
							endforeach;
							 endif; ?>
						  </tbody>
					  </table> 
                                 
					</div>
				</div><!--/span-->
			
			</div><!--/row-->

					<hr>
			<!-- end: Content -->
			