<div>
				<hr>
				<ul class="breadcrumb">
					<li>
						<a href="#">Home</a> <span class="divider">/</span>
					</li>
					<li>
						<a href="#">TenantDetails</a>
					</li>
				</ul>
				<hr>
			</div>

<?php

		global $VoucherStatusTypeList;
		global $arrLandlordType;
		global $arrBedroom;
		global $arrProperty_Type;
		
?>
<table cellpadding="0" cellspacing="0" border="0" class="table table-hover">
  <tbody>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP1_CREATED');?></td>
      <td><?php echo $this->arrDataList['dcreated'];?></td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP1_MODIFIED');?></td>
      <td><?php echo $this->arrDataList['dmodified'];?></td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_TENANTREGISTRATION_FIRST_NAME');?></td>
      <td><?php echo $this->arrDataList['first_name'];?></td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_TENANTREGISTRATION_LAST_NAME');?></td>
      <td><?php echo $this->arrDataList['last_name']; ?></td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_TENANTREGISTRATION_STATE');?></td>
      <td><?php echo $this->arrStates[$this->arrDataList['state_id']]; ?></td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_TENANTREGISTRATION_CITY');?></td>
      <td><?php echo $this->arrDataList['city']; ?></td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_TENANTREGISTRATION_BEDROOMS');?></td>
      <td><?php echo $arrBedroom[$this->arrDataList['bedrooms']]; ?></td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_TENANTREGISTRATION_PROPERTY_TYPE');?></td>
      <td><?php echo $arrProperty_Type[$this->arrDataList['property_type']]; ?></td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_TENANTREGISTRATION_RENT');?></td>
      <td>$<?php echo $this->arrDataList['rent']; ?></td>
    </tr>        
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_TENANTREGISTRATION_PHONE');?></td>
      <td><?php echo $this->arrDataList['phone']; ?></td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_TENANTREGISTRATION_SOMETIME_AFTER');?></td>
      <td><?php echo $this->arrDataList['sometime_after']; ?></td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_TENANTREGISTRATION_VOUCHER_STATUS');?></td>
      <td><?php echo $VoucherStatusTypeList[$this->arrDataList['voucher_status']]; ?></td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_TENANTREGISTRATION_PETS');?></td>
      <td><?php echo $arrLandlordType[$this->arrDataList['pets']]; ?></td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_TENANTREGISTRATION_ACCESSIBILITY_NEEDS');?></td>
      <td><?php echo $arrLandlordType[$this->arrDataList['accessibility_needs']]; ?></td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_TENANTREGISTRATION_FREE_LISTING_ALERTS'); ?></td>
      <td><?php echo $this->arrDataList['free_listing_alerts']; ?></td>
    </tr>
 </tbody>
</table>
	<div class="clr">&nbsp;</div>
<input type="hidden" id="id" name="id">

