  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span10">

<a href="<?php echo $this->url(array('controller'=>'index','action'=>'index','module'=>'default'), 'default', true);?>"><?php echo $this->translate('FRONT_LABEL_HOME');?></a>&nbsp;>>&nbsp;<?php echo $this->translate('FRONT_LABEL_HOW_TO_APPLY');?>



<h2>How To Apply for Housing Choice Voucher</h2>

<p align="justify">Those who are interested in applying for a voucher need to contact their local PHA. The HUD can also assist in providing contact information for the nearest office. Often, the demand exceeds the resources available to the HUD and local agencies. The PHA may even elect to close the waiting list for an extended period of time until more qualified housing options become available.</p>

<p><?php echo $this->middlepartadsense; ?></p> 

<p align="justify">Each PHA has the local discretion to set priorities for families in certain situations. Normally, those who are currently homeless or living in substandard homes are given priority. Those who pay more than fifty percent of their income for rent or who have been involuntarily displaced are often given preference as well. The PHA establishes these priority levels based on the needs of the community they serve.</p>

<p align="justify">Use the map below to find your local Public Housing Agency to apply for Section 8 Voucher.</P>
<map id="us-map" name="us-map">
<area title="Apply for Section 8 in Washington" coords="62,5,102,15,96,47,81,44,69,44,61,42,54,42,52,35,46,32,46,9" shape="poly" href="<?php echo $this->url(array('controller'=>'agency','action'=>'state','module'=>'default','filename'=>'washington'), 'state_name', true);?>">
<area title="Apply for Section 8 in Oregon" coords="45,32,24,70,29,75,35,77,63,85,87,90,92,67,91,65,91,60,94,60,99,51,97,47,84,44,69,44,61,43,54,42,52,36" shape="poly" href="<?php echo $this->url(array('controller'=>'agency','action'=>'state','module'=>'default','filename'=>'oregon'), 'state_name', true);?>">
<area title="Apply for Section 8 in California" coords="27,75,15,102,30,162,43,191,86,195,86,187,91,182,93,177,54,116,62,85" shape="poly" href="<?php echo $this->url(array('controller'=>'agency','action'=>'state','module'=>'default','filename'=>'california'), 'state_name', true);?>">
<area title="Apply for Section 8 in Hawaii" coords="4,227,75,227,76,279,3,278" shape="poly" href="<?php echo $this->url(array('controller'=>'agency','action'=>'state','module'=>'default','filename'=>'hawaii'), 'state_name', true);?>">
<area title="Apply for Section 8 in Alaska" coords="78,227,151,227,196,295,197,323,4,324,4,281,77,282" shape="poly" href="<?php echo $this->url(array('controller'=>'agency','action'=>'state','module'=>'default','filename'=>'alaska'), 'state_name', true);?>">
<area title="Apply for Section 8 in Idaho" coords="111,17,103,16,96,47,99,52,94,61,91,65,86,90,133,99,138,71,136,68,133,69,123,70,118,55,114,55,118,44,116,44,110,35,107,25" shape="poly" href="<?php echo $this->url(array('controller'=>'agency','action'=>'state','module'=>'default','filename'=>'idaho'), 'state_name', true);?>">
<area title="Apply for Section 8 in Vermont" coords="403,30,10" shape="circle" href="<?php echo $this->url(array('controller'=>'agency','action'=>'state','module'=>'default','filename'=>'vermont'), 'state_name', true);?>">
<area title="Apply for Section 8 in New Hampshire" coords="428,30,11" shape="circle" href="<?php echo $this->url(array('controller'=>'agency','action'=>'state','module'=>'default','filename'=>'new_hampshire'), 'state_name', true);?>">
<area title="Apply for Section 8 in Massachusetts" coords="484,72,11" shape="circle" href="<?php echo $this->url(array('controller'=>'agency','action'=>'state','module'=>'default','filename'=>'massachusetts'), 'state_name', true);?>">
<area title="Apply for Section 8 in Rhode Island" coords="484,94,9" shape="circle" href="<?php echo $this->url(array('controller'=>'agency','action'=>'state','module'=>'default','filename'=>'rhode_island'), 'state_name', true);?>">
<area title="Apply for Section 8 in Connecticut" coords="484,117,10" shape="circle" href="<?php echo $this->url(array('controller'=>'agency','action'=>'state','module'=>'default','filename'=>'connecticut'), 'state_name', true);?>">
<area title="Apply for Section 8 in New Jersey" coords="485,137,10" shape="circle" href="<?php echo $this->url(array('controller'=>'agency','action'=>'state','module'=>'default','filename'=>'new_jersey'), 'state_name', true);?>">
<area title="Apply for Section 8 in Delaware" coords="485,159,10" shape="circle" href="<?php echo $this->url(array('controller'=>'agency','action'=>'state','module'=>'default','filename'=>'delaware'), 'state_name', true);?>">
<area title="Apply for Section 8 in Maryland" coords="485,182,11" shape="circle" href="<?php echo $this->url(array('controller'=>'agency','action'=>'state','module'=>'default','filename'=>'maryland'), 'state_name', true);?>">
<area title="Apply for Section 8 in District of Columbia" coords="484,202,9" shape="circle" href="<?php echo $this->url(array('controller'=>'agency','action'=>'state','module'=>'default','filename'=>'district_of_columbia'), 'state_name', true);?>">
<area title="Apply for Section 8 in District of Columbia" coords="413,123,413,126,416,126,416,124,414,123" shape="poly" href="<?php echo $this->url(array('controller'=>'agency','action'=>'state','module'=>'default','filename'=>'district_of_columbia'), 'state_name', true);?>">
<area title="Apply for Section 8 in Montana" coords="196,29,157,25,109,17,108,27,110,37,117,45,114,55,119,54,122,71,137,70,139,66,192,73" shape="poly" href="<?php echo $this->url(array('controller'=>'agency','action'=>'state','module'=>'default','filename'=>'montana'), 'state_name', true);?>">
<area title="Apply for Section 8 in North Dakota" coords="245,31,198,30,194,63,250,65,250,59" shape="poly" href="<?php echo $this->url(array('controller'=>'agency','action'=>'state','module'=>'default','filename'=>'north_dakota'), 'state_name', true);?>">
<area title="Apply for Section 8 in South Dakota" coords="252,103,252,72,248,68,251,65,194,62,191,95,236,98,239,101,241,99,246,99" shape="poly" href="<?php echo $this->url(array('controller'=>'agency','action'=>'state','module'=>'default','filename'=>'south_dakota'), 'state_name', true);?>">
<area title="Apply for Section 8 in Nevada" coords="64,86,110,95,97,160,93,158,91,169,55,116" shape="poly" href="<?php echo $this->url(array('controller'=>'agency','action'=>'state','module'=>'default','filename'=>'nevada'), 'state_name', true);?>">
<area title="Apply for Section 8 in Utah" coords="110,95,133,99,132,109,148,111,142,157,100,149" shape="poly" href="<?php echo $this->url(array('controller'=>'agency','action'=>'state','module'=>'default','filename'=>'utah'), 'state_name', true);?>">
<area title="Apply for Section 8 in Arizona" coords="142,155,99,149,98,156,95,159,91,158,93,175,86,194,84,197,115,215,134,218" shape="poly" href="<?php echo $this->url(array('controller'=>'agency','action'=>'state','module'=>'default','filename'=>'arizona'), 'state_name', true);?>">
<area title="Apply for Section 8 in Wyoming" coords="193,73,138,67,132,109,190,116" shape="poly" href="<?php echo $this->url(array('controller'=>'agency','action'=>'state','module'=>'default','filename'=>'wyoming'), 'state_name', true);?>">
<area title="Apply for Section 8 in Colorado" coords="205,118,148,112,143,155,203,162" shape="poly" href="<?php echo $this->url(array('controller'=>'agency','action'=>'state','module'=>'default','filename'=>'colorado'), 'state_name', true);?>">
<area title="Apply for Section 8 in New Mexico" coords="144,156,135,217,142,217,144,213,158,214,159,212,191,216,196,163" shape="poly" href="<?php echo $this->url(array('controller'=>'agency','action'=>'state','module'=>'default','filename'=>'new_mexico'), 'state_name', true);?>">
<area title="Apply for Section 8 in Nebraska" coords="251,103,247,99,239,99,235,97,191,96,189,116,205,118,204,129,261,130,257,124" shape="poly" href="<?php echo $this->url(array('controller'=>'agency','action'=>'state','module'=>'default','filename'=>'nebraska'), 'state_name', true);?>">
<area title="Apply for Section 8 in Kansas" coords="262,130,206,130,203,162,266,163,267,139,263,136,266,133" shape="poly" href="<?php echo $this->url(array('controller'=>'agency','action'=>'state','module'=>'default','filename'=>'kansas'), 'state_name', true);?>">
<area title="Apply for Section 8 in Oklahoma" coords="195,162,195,167,220,167,220,189,231,195,236,195,240,198,251,198,263,198,270,201,268,176,268,164" shape="poly" href="<?php echo $this->url(array('controller'=>'agency','action'=>'state','module'=>'default','filename'=>'oklahoma'), 'state_name', true);?>">
<area title="Apply for Section 8 in Texas" coords="243,284,225,279,220,264,209,246,204,241,196,240,191,242,187,249,178,245,175,242,170,228,158,215,158,213,190,217,195,168,219,169,219,189,228,193,236,196,243,196,262,197,269,200,273,201,275,218,279,230,277,244" shape="poly" href="<?php echo $this->url(array('controller'=>'agency','action'=>'state','module'=>'default','filename'=>'texas'), 'state_name', true);?>">
<area title="Apply for Section 8 in Minnesota" coords="302,40,291,39,288,40,279,36,267,35,262,33,246,32,251,63,248,69,253,74,252,91,294,91,291,85,280,78,280,70,279,67,282,62,283,54" shape="poly" href="<?php echo $this->url(array('controller'=>'agency','action'=>'state','module'=>'default','filename'=>'minnesota'), 'state_name', true);?>">
<area title="Apply for Section 8 in Iowa" coords="293,92,251,92,251,101,258,123,291,123,292,125,297,120,296,113,301,112,303,106,298,100,295,100" shape="poly" href="<?php echo $this->url(array('controller'=>'agency','action'=>'state','module'=>'default','filename'=>'iowa'), 'state_name', true);?>">
<area title="Apply for Section 8 in Missouri" coords="311,172,313,165,314,166,315,160,313,160,310,153,303,148,305,141,300,140,300,136,293,129,293,123,258,124,262,131,265,132,262,136,266,140,268,169,305,168,306,172" shape="poly" href="<?php echo $this->url(array('controller'=>'agency','action'=>'state','module'=>'default','filename'=>'missouri'), 'state_name', true);?>">
<area title="Apply for Section 8 in Arkansas" coords="308,183,312,173,306,173,308,167,268,170,269,201,273,201,273,207,300,206,300,202,299,198,311,173" shape="poly" href="<?php echo $this->url(array('controller'=>'agency','action'=>'state','module'=>'default','filename'=>'arkansas'), 'state_name', true);?>">
<area title="Apply for Section 8 in Louisiana" coords="314,233,319,238,327,248,320,252,277,244,278,228,275,220,272,207,300,207,303,216,298,228,313,228" shape="poly" href="<?php echo $this->url(array('controller'=>'agency','action'=>'state','module'=>'default','filename'=>'louisiana'), 'state_name', true);?>">
<area title="Apply for Section 8 in Michigan" coords="356,104,363,90,352,65,345,53,316,45,299,56,302,60,316,63,320,70,322,71,326,67,331,105" shape="poly" href="<?php echo $this->url(array('controller'=>'agency','action'=>'state','module'=>'default','filename'=>'michigan'), 'state_name', true);?>">
<area title="Apply for Section 8 in Wisconsin" coords="299,56,294,57,294,54,284,57,283,64,279,69,281,77,293,87,296,99,301,102,320,100,325,69,321,71,318,66,318,64,301,59" shape="poly" href="<?php echo $this->url(array('controller'=>'agency','action'=>'state','module'=>'default','filename'=>'wisconsin'), 'state_name', true);?>">
<area title="Apply for Section 8 in Illinois" coords="325,109,326,137,328,141,324,151,323,157,320,156,321,160,315,159,314,161,311,161,312,153,303,148,305,141,299,139,299,135,292,127,296,118,296,115,301,111,302,106,300,102,298,100,321,100" shape="poly" href="<?php echo $this->url(array('controller'=>'agency','action'=>'state','module'=>'default','filename'=>'illinois'), 'state_name', true);?>">
<area title="Apply for Section 8 in Indiana" coords="346,104,331,107,323,109,327,138,324,151,336,151,338,146,341,149,345,140,350,138" shape="poly" href="<?php echo $this->url(array('controller'=>'agency','action'=>'state','module'=>'default','filename'=>'indiana'), 'state_name', true);?>">
<area title="Apply for Section 8 in Ohio" coords="380,97,371,105,364,107,360,105,346,106,350,134,354,135,358,138,367,137,371,140,373,134,375,134,376,130,382,125,382,111" shape="poly" href="<?php echo $this->url(array('controller'=>'agency','action'=>'state','module'=>'default','filename'=>'ohio'), 'state_name', true);?>">
<area title="Apply for Section 8 in West Virginia" coords="383,112,382,125,376,129,375,133,373,133,372,137,370,140,370,143,378,151,381,151,381,150,384,150,390,147,392,141,394,135,398,135,400,130,403,126,403,123,405,123,406,124,408,124,408,122,406,120,403,121,395,126,393,121,393,121,389,123,385,123" shape="poly" href="<?php echo $this->url(array('controller'=>'agency','action'=>'state','module'=>'default','filename'=>'west_virginia'), 'state_name', true);?>">
<area title="Apply for Section 8 in Kentucky" coords="370,143,370,140,366,137,363,138,358,138,355,136,350,134,350,137,345,140,341,148,338,146,336,150,324,151,323,156,320,156,320,159,316,159,315,165,313,167,321,167,325,165,333,164,343,163,351,162,362,162,365,160,370,156,373,153,376,150" shape="poly" href="<?php echo $this->url(array('controller'=>'agency','action'=>'state','module'=>'default','filename'=>'kentucky'), 'state_name', true);?>">
<area title="Apply for Section 8 in Tennessee" coords="381,158,372,159,372,160,364,160,364,161,356,162,326,165,325,166,313,167,312,174,308,184,324,183,326,182,360,179,360,176,373,167,381,161" shape="poly" href="<?php echo $this->url(array('controller'=>'agency','action'=>'state','module'=>'default','filename'=>'tennessee'), 'state_name', true);?>">
<area title="Apply for Section 8 in Mississippi" coords="326,183,322,183,315,184,306,184,300,196,300,207,302,214,298,224,297,228,310,228,311,227,314,227,315,233,317,236,328,235,327,226,326,219" shape="poly" href="<?php echo $this->url(array('controller'=>'agency','action'=>'state','module'=>'default','filename'=>'mississippi'), 'state_name', true);?>">
<area title="Apply for Section 8 in Alabama" coords="349,181,326,182,326,219,328,234,332,238,340,234,335,225,359,224,358,217,357,207,348,181,326,182" shape="poly" href="<?php echo $this->url(array('controller'=>'agency','action'=>'state','module'=>'default','filename'=>'alabama'), 'state_name', true);?>">
<area title="Apply for Section 8 in Georgia" coords="369,178,363,179,360,179,355,179,354,180,348,180,357,207,359,223,361,226,384,225,386,227,388,227,387,222,393,222,395,206,388,197,374,184,369,182" shape="poly" href="<?php echo $this->url(array('controller'=>'agency','action'=>'state','module'=>'default','filename'=>'georgia'), 'state_name', true);?>">
<area title="Apply for Section 8 in Florida" coords="395,222,387,222,387,226,385,227,385,225,367,226,360,226,358,223,354,224,347,225,335,226,340,234,360,241,380,244,385,267,400,281,392,292,400,293,423,281,412,248" shape="poly" href="<?php echo $this->url(array('controller'=>'agency','action'=>'state','module'=>'default','filename'=>'florida'), 'state_name', true);?>">
<area title="Apply for Section 8 in South Carolina" coords="413,184,402,175,397,175,397,176,392,176,389,173,380,173,369,178,369,182,374,184,388,198,393,206,397,206,414,190" shape="poly" href="<?php echo $this->url(array('controller'=>'agency','action'=>'state','module'=>'default','filename'=>'south_carolina'), 'state_name', true);?>">
<area title="Apply for Section 8 in North Carolina" coords="411,154,404,155,387,158,381,158,380,161,372,167,362,174,359,177,359,179,364,179,369,178,378,174,385,173,389,173,392,176,397,176,397,175,402,175,413,183,416,186,440,164,434,151,429,150,420,152" shape="poly" href="<?php echo $this->url(array('controller'=>'agency','action'=>'state','module'=>'default','filename'=>'north_carolina'), 'state_name', true);?>">
<area title="Apply for Section 8 in Virginia" coords="420,134,416,133,414,132,414,129,415,129,415,126,412,125,410,124,408,123,408,124,405,124,404,123,403,124,403,126,399,131,398,134,394,135,390,147,384,150,381,150,380,151,378,151,376,149,370,154,370,156,364,160,370,160,374,159,380,158,388,158,411,154,429,150,432,148,436,133,433,131,428,134" shape="poly" href="<?php echo $this->url(array('controller'=>'agency','action'=>'state','module'=>'default','filename'=>'virginia'), 'state_name', true);?>">
<area title="Apply for Section 8 in Maryland" coords="423,115,416,116,415,117,411,118,406,120,410,124,413,125,414,123,416,124,415,126,414,132,419,134,422,134,428,134,436,129,428,129,425,122,423,116" shape="poly" href="<?php echo $this->url(array('controller'=>'agency','action'=>'state','module'=>'default','filename'=>'maryland'), 'state_name', true);?>">
<area title="Apply for Section 8 in Maryland" coords="405,120,393,121,394,125,395,126" shape="poly" href="<?php echo $this->url(array('controller'=>'agency','action'=>'state','module'=>'default','filename'=>'maryland'), 'state_name', true);?>">
<area title="Apply for Section 8 in Delaware" coords="426,114,423,115,427,128,436,129,428,120" shape="poly" href="<?php echo $this->url(array('controller'=>'agency','action'=>'state','module'=>'default','filename'=>'delaware'), 'state_name', true);?>">
<area title="Apply for Section 8 in New York" coords="452,95,441,104,436,102,435,98,427,96,422,90,387,97,385,95,391,90,392,87,389,83,394,80,402,80,404,79,410,76,409,68,412,65,416,59,418,57,429,54,431,61,433,69,436,78,436,90,437,97,439,98,448,94" shape="poly" href="<?php echo $this->url(array('controller'=>'agency','action'=>'state','module'=>'default','filename'=>'new_york'), 'state_name', true);?>">
<area title="Apply for Section 8 in Pennsylvania" coords="424,114,421,116,416,116,407,119,401,120,394,121,391,122,386,122,385,116,382,99,386,95,388,97,422,90,427,96,426,105,430,109,428,112,427,114" shape="poly" href="<?php echo $this->url(array('controller'=>'agency','action'=>'state','module'=>'default','filename'=>'pennsylvania'), 'state_name', true);?>">
<area title="Apply for Section 8 in New Jersey" coords="427,96,426,104,430,108,430,110,426,114,427,118,428,120,432,124,441,117,441,105,436,102,435,98" shape="poly" href="<?php echo $this->url(array('controller'=>'agency','action'=>'state','module'=>'default','filename'=>'new_jersey'), 'state_name', true);?>">
<area title="Apply for Section 8 in Connecticut" coords="452,91,451,88,450,86,450,83,448,83,446,84,442,85,437,85,437,89,438,94,437,96,439,98,441,96,445,94" shape="poly" href="<?php echo $this->url(array('controller'=>'agency','action'=>'state','module'=>'default','filename'=>'connecticut'), 'state_name', true);?>">
<area title="Apply for Section 8 in Rhode Island" coords="452,90,455,91,454,86,453,82,450,83,451,88" shape="poly" href="<?php echo $this->url(array('controller'=>'agency','action'=>'state','module'=>'default','filename'=>'rhode_island'), 'state_name', true);?>">
<area title="Apply for Section 8 in Massachusetts" coords="458,72,452,73,452,74,447,76,441,77,436,79,436,86,436,89,438,85,444,88,448,83,450,83,452,82,457,90,468,84,467,78" shape="poly" href="<?php echo $this->url(array('controller'=>'agency','action'=>'state','module'=>'default','filename'=>'massachusetts'), 'state_name', true);?>">
<area title="Apply for Section 8 in New Hampshire" coords="455,69,455,73,452,73,452,74,447,75,448,76,441,76,435,62,442,64,442,62,441,61,441,59,443,59,443,51,443,47,446,47,452,66,456,69" shape="poly" href="<?php echo $this->url(array('controller'=>'agency','action'=>'state','module'=>'default','filename'=>'new_hampshire'), 'state_name', true);?>">
<area title="Apply for Section 8 in Vermont" coords="443,51,439,51,436,52,429,54,431,65,434,72,436,79,447,72,441,65,442,64,442,61,441,60,441,59,443,59,443,57,444,56,444,54" shape="poly" href="<?php echo $this->url(array('controller'=>'agency','action'=>'state','module'=>'default','filename'=>'vermont'), 'state_name', true);?>">
<area title="Apply for Section 8 in Maine" coords="455,68,458,68,479,46,477,39,465,19,452,19,448,32,447,42,446,47,450,61" shape="poly" href="<?php echo $this->url(array('controller'=>'agency','action'=>'state','module'=>'default','filename'=>'maine'), 'state_name', true);?>"></map>
<img style="max-width:none;" usemap="#us-map" name="edit_link" src="<?php echo USER_IMAGES_PATH; ?>us_state_map.png"  />
</div>
      <div class="span2"> <?php echo $this->rightsideadsense; ?> <br />
      <?php echo $this->rightsideadsense; ?>
       </div>
    </div>
  </div>
