  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span10">

<a href="<?php echo $this->url(array('controller'=>'index','action'=>'index','module'=>'default'), 'default', true);?>"><?php echo $this->translate('FRONT_LABEL_HOME');?></a>&nbsp;>>&nbsp;<a href="<?php echo $this->url(array('controller'=>'agency','action'=>'index','module'=>'default'), 'how_to_apply', true);?>"><?php echo $this->translate('FRONT_LABEL_HOW_TO_APPLY');?></a> 
&nbsp;>>&nbsp;<?php echo $this->arrDataList['0']['sname'].' Section 8'; ?>


<h2>Apply for Section 8 Voucher in <?php echo $this->arrDataList['0']['sname']; ?> </h2>

<p>To apply for Housing Choice Voucher, contact your local Public Housing Agency from the list below.</p>

<?php foreach ( $this->arrDataList as $data ): ?>

<table cellpadding="0" cellspacing="0" border="0" class="table table-hover">
<tbody>
<tr>
<td width="30%"><?php echo $data['agenciesname']; ?></td>
<td width="30%"><?php echo $data['street']; ?><br /><?php echo $data['cityname'].','.$data['statecode'];?></td>
<td width="30%"><?php echo $data['phone']; ?></td>
</tr>
</tbody>
</table>    

<?php endforeach; ?> 

</div>
      <div class="span2"> <?php echo $this->rightsidetextadsense; ?> <br />
      <?php echo $this->rightsideadsense; ?>
       </div>
    </div>
  </div>
   