<?php echo $this->doctype(); ?>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><?php echo $this->siteTitle;?></title>
  
<!-- start: CSS -->

<?php $this->headLink()->appendStylesheet($this->baseUrl().'/styles/admin/bootstrap.min.css'); ?>
<?php $this->headLink()->appendStylesheet($this->baseUrl().'/styles/admin/bootstrap-responsive.min.css'); ?>
<?php $this->headLink()->appendStylesheet($this->baseUrl().'/styles/admin/style.css'); ?>
<?php $this->headLink()->appendStylesheet($this->baseUrl().'/styles/admin/style-responsive.css'); ?>



<!-- end: CSS --> 

<!-- start: Favicon -->
<link rel="shortcut icon" href="<?php echo USER_IMAGES_PATH;?>favicon.ico">
<!-- end: Favicon -->
     
    
<!-- start: JavaScript-->

<?php $this->headScript()->appendFile($this->baseUrl().'/js/admin/jquery-1.9.1.min.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/admin/jquery-migrate-1.0.0.min.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/admin/jquery-ui-1.10.0.custom.min.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/admin/jquery.ui.touch-punch.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/admin/bootstrap.min.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/admin/jquery.cookie.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/admin/fullcalendar.min.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/admin/jquery.dataTables.min.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/admin/excanvas.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/admin/jquery.flot.min.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/admin/jquery.flot.pie.min.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/admin/jquery.flot.stack.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/admin/jquery.flot.resize.min.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/admin/jquery.chosen.min.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/admin/jquery.uniform.min.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/admin/jquery.cleditor.min.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/admin/jquery.noty.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/admin/jquery.elfinder.min.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/admin/jquery.raty.min.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/admin/jquery.iphone.toggle.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/admin/jquery.uploadify-3.1.min.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/admin/jquery.gritter.min.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/admin/jquery.imagesloaded.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/admin/jquery.masonry.min.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/admin/jquery.knob.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/admin/jquery.sparkline.min.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/admin/custom.js'); ?>




<!-- end: JavaScript-->
  
  
  
  <?php echo $this->headLink();?>
  <?php echo $this->headScript();?>  

<!-- start: IE CSS -->

<!--[if lt IE 7 ]>
    <link id="ie-style" href="<?php echo $this->baseUrl().'/styles/admin/style-ie.css'; ?>" rel="stylesheet">
    <![endif]-->

<!--[if IE 8 ]>
    <link id="ie-style" href="<?php echo $this->baseUrl().'/styles/admin/style-ie.css'; ?>" rel="stylesheet">
    <![endif]-->

<!--[if IE 9 ]>
	<![endif]-->

<!-- end: IE CSS -->

</head>


<body>
		<div id="overlay">
		<ul>
		  <li class="li1"></li>
		  <li class="li2"></li>
		  <li class="li3"></li>
		  <li class="li4"></li>
		  <li class="li5"></li>
		  <li class="li6"></li>
		</ul>
	</div>	
	<!-- start: Header -->
	<?php if(isset($this->headerFile) && $this->headerFile != ''){include "header/".$this->headerFile; }?>
	<!-- start: Header -->
	
		<div class="container-fluid">
		<div class="row-fluid">
				
			<!-- start: Main Menu -->
            <?php if(isset($this->leftFile) && $this->leftFile != ''){include "left/".$this->leftFile; }?>
			<!--/span-->
			<!-- end: Main Menu -->
			
			<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>
			
			<div id="content" class="span10">
			<!-- start: Content -->
            
	<?php if(!empty($this->message)){ ?>
    
    <div class="row-fluid sortable">	
    <div class="box span12">
        <div class="box-header">
            <h2><i class="icon-bullhorn"></i><span class="break"></span>Alerts</h2>
            <div class="box-icon">
                <a href="#" class="btn-setting"><i class="icon-wrench"></i></a>
                <a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="icon-remove"></i></a>
            </div>
        </div>
   <div class="box-content alerts">
     <?php if($this->messageType=='error'){?>
     
						<div class="alert alert-error">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong><?php echo $this->message?>.</strong>
						</div>
     
      <?php } else { ?>                   
						<div class="alert alert-success">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong><?php echo $this->message?>.</strong>
						</div>
       <?php }?>                  
	</div>        
  </div>
</div>   
      <?php } ?>
	
   	<?php echo $this->layout()->content ?> 
			
			
			<!-- end: Content -->
			</div><!--/#content.span10-->
				</div><!--/fluid-row-->
				
		<div class="modal hide fade" id="myModal">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3>Settings</h3>
			</div>
			<div class="modal-body">
				<p>Here settings can be configured...</p>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn" data-dismiss="modal">Close</a>
				<a href="#" class="btn btn-primary">Save changes</a>
			</div>
		</div>
		
		<div class="clearfix"></div>
		 <?php if(isset($this->footerFile) && $this->footerFile != ''){include "footer/".$this->footerFile; } ?>
		
				
	</div><!--/.fluid-container-->

	
	
</body>
</html>