<!DOCTYPE html>
<html lang="en">
<head>
<title><?php echo $this->siteTitle;?></title>
<?php echo $this->headMeta(); ?> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<?php $this->headLink()->appendStylesheet($this->baseUrl().'/styles/bootstrap.css'); ?>
<?php $this->headLink()->appendStylesheet($this->baseUrl().'/styles/bootstrap-responsive.css'); ?>
<?php $this->headLink()->appendStylesheet($this->baseUrl().'/styles/msg.css'); ?>
<?php $this->headLink()->appendStylesheet($this->baseUrl().'/styles/custom.css'); ?>
<?php //$this->headLink()->appendStylesheet($this->baseUrl().'/styles/style.css'); ?>

 <style type="text/css">
     
    </style>

<!--bootstrap Javascript-->
<?php $this->headScript()->appendFile($this->baseUrl().'/js/bootstrap/jquery.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/bootstrap/bootstrap-transition.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/bootstrap/bootstrap-alert.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/bootstrap/bootstrap-modal.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/bootstrap/bootstrap-dropdown.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/bootstrap/bootstrap-scrollspy.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/bootstrap/bootstrap-tab.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/bootstrap/bootstrap-tooltip.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/bootstrap/bootstrap-popover.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/bootstrap/bootstrap-button.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/bootstrap/bootstrap-collapse.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/bootstrap/bootstrap-carousel.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/bootstrap/bootstrap-typeahead.js'); ?>



<!--jquery form validation-->
<?php $this->headLink()->appendStylesheet($this->baseUrl().'/validation/validationEngine.jquery.css'); ?>
<!-- Jquery UI -->

<?php $this->headLink()->appendStylesheet($this->baseUrl().'/jquery_ui/css/jquery-ui-1.8.21.custom.css'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/jquery.min.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/jquery_ui/js/jquery-ui-1.8.21.custom.min.js'); ?>

<!--jquery form validation-->
<?php $this->headScript()->appendFile($this->baseUrl().'/validation/jquery.validationEngine.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/validation/jquery.validationEngine-en.js'); ?>
<!-- Jquery UI -->


<?php $this->headScript()->appendFile($this->baseUrl().'/js/jquery-easing-1.3.pack.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/jquery-easing-compatibility.1.2.pack.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/coda-slider.1.1.1.pack.js'); ?>


<?php $this->headScript()->appendFile($this->baseUrl().'/js/common-ajax-functions.js'); ?>

<?php echo $this->headLink();?><?php echo $this->headScript();?>




    
	<script type="text/javascript">
	
		var theInt = null;
		var $crosslink, $navthumb;
		var curclicked = 0;
		
		theInterval = function(cur){
			clearInterval(theInt);
			
			if( typeof cur != 'undefined' )
				curclicked = cur;
			
			$crosslink.removeClass("active-thumb");
			$navthumb.eq(curclicked).parent().addClass("active-thumb");
				$(".stripNav ul li a").eq(curclicked).trigger('click');
			
			theInt = setInterval(function(){
				$crosslink.removeClass("active-thumb");
				$navthumb.eq(curclicked).parent().addClass("active-thumb");
				$(".stripNav ul li a").eq(curclicked).trigger('click');
				curclicked++;
				if( 6 == curclicked )
					curclicked = 0;
				
			}, 3000);
		};
		
		$(function(){
			
			$("#main-photo-slider").codaSlider();
			
			$navthumb = $(".nav-thumb");
			$crosslink = $(".cross-link");
			
			$navthumb
			.click(function() {
				var $this = $(this);
				theInterval($this.parent().attr('href').slice(1) - 1);
				return false;
			});
			
			theInterval();
		});
	</script>



</head>


<body>
<?php //if(isset($this->frontHeader) && $this->frontHeader != ''){include "header/".$this->frontHeader; }?>
      
<?php echo $this->InlineScript();?>

	  <!--frontHeader content--> 
      <?php if(isset($this->frontHeader) && $this->frontHeader != ''){include "header/".$this->frontHeader; }?>
	
   <div class="container" style="margin-top:15px;">              
    	<!--Body content--> 
      <?php echo $this->layout()->content; ?>	
   </div>
 
	<!--footer content--> 
     <?php if(isset($this->frontFooter) && $this->frontFooter != ''){include "footer/".$this->frontFooter; }?>
     
   

</body>
</html>
