 <?php if(isset($this->objSess->user_option) && $this->objSess->user_option == LANDLORD) { ?>
<?php if(!empty($this->message)){ ?>
  <?php if($this->messageType=='error'){?>
  <div class="msg error"><?php echo $this->message?></div>
  <?php } else { ?>
  <div class="msg confirm"><?php echo $this->message?></div>
  <?php }?>
  <?php } ?>
 <div class="control-group">
    <div class="controls">
 <input type="button" id="back" name="back" class="btn btn-success" value="<?php echo $this->translate('ADMIN_LINK_LABEL_LANDLORD_ADD');?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'default','controller'=>'property','action'=>'landlordstep1add'),null,true)?>'" />
   <input type="button" id="back" name="back" class="btn btn-info" value="<?php echo $this->translate('ADMIN_LINK_LABEL_LANDLORD_LIST');?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'default','controller'=>'property','action'=>'propertylisting'),null,true)?>'" />
  </div>
  </div>
  <?php } ?>