
<?php echo $this->genaral_data; ?>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
$(document).ready(function() {	
	$.getlatlng = function() {
		geocoder = new google.maps.Geocoder();
		//var address = $('#gadres').val() +','+ $('#gcity').val();
		var address = $('#gadres').val() +','+ $('#gcity').val() +','+ $('#state_id').find('option:selected').text();		
			//alert(address);						
		geocoder.geocode( 
			{ 'address': address}, 
			function(results, status) {				
				if (status == google.maps.GeocoderStatus.OK) {				
					$('#address_lat').val(results[0].geometry.location.lat().toFixed(6));
					$('#address_lng').val(results[0].geometry.location.lng().toFixed(6));
					$('#PSForm').submit();
				} else {
					$('#address_lat').val('');
					$('#address_lng').val('');
					if(confirm("The Address is incorrect, Do you want to continue?")){
						$('#PSForm').submit();	
					} else {				
						return false;
					}
					
				}				
			}
		)
	  return false;				        
    };
	
	
	$('.btngeocode').click(function() {				
		$.getlatlng();				  
	});	
		
});
</script>

<form id="PSForm" method="POST" enctype="multipart/form-data" class="form-horizontal">
 
  <?php if(!empty($this->message)){ ?>
  <?php if($this->messageType=='error'){?>
  <div class="msg error"><?php echo $this->message?></div>
  <?php } else { ?>
  <div class="msg confirm"><?php echo $this->message?></div>
  <?php }?>
  <?php } ?>

  <div class="control-group">
    <label class="control-label" for="inputFirstName"><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP1_NAME');?> :</label>
    <div class="controls"> <?php echo $this->objForm->name;?> </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputLastName"><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP1_EMAIL');?> :</label>
    <div class="controls"><?php echo $this->objForm->email;?></div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputCity"><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP1_PHONE');?> :</label>
    <div class="controls"> <?php echo $this->objForm->phone;?> </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputState"><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP1_ADDRESS');?> :</label>
    <div class="controls"> <?php echo $this->objForm->address;?> </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputZipCode"><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP1_UNIT');?> :</label>
    <div class="controls"> <?php echo $this->objForm->unit;?> </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPhone"><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP1_CITY');?> :</label>
    <div class="controls"> <?php echo $this->objForm->city;?> </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputSometimeAfter"><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP1_STATE');?> :</label>
    <div class="controls"> <?php echo $this->objForm->state_id;?> </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputVoucherStatus"><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP1_ZIP');?> :</label>
    <div class="controls"> <?php echo $this->objForm->zip;?> </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPets"><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP1_NEIGHBORHOOD');?> :</label>
    <div class="controls"> <?php echo $this->objForm->neighborhood;?> </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputAccessibilityNeeds"><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP1_COMMUNITY_NAME');?> :</label>
    <div class="controls"> <?php echo $this->objForm->community_name;?> </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputFreeListingAlerts"><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP1_STREET_VIEW');?> :</label>
    <div class="controls"> <?php echo $this->objForm->street_view;?> </div>
  </div>

  <div class="clr"></div>
  <div class="control-group">
    <div class="controls">
      <input type="hidden" id="id" name="id" value="<?php echo $this->id; ?>" >
      <input type="hidden" id="address_lat" name="address_lat" value="" >
      <input type="hidden" id="address_lng" name="address_lng" value="" >
    </div>
  </div>
  
  <!-- 1st column of main box ends here -->
  
  <div class="control-group">
    <div class="controls">
      <?php if($this->currentAction == 'Step1Add') : ?>
      <?php echo $this->objForm->add_btn;?>
      <?php else : ?>
      <?php echo $this->objForm->edit_btn;?>
      <?php endif;?>
      
   <?php    if(isset($this->id) && $this->id != ''){ ?>
      <input type="button" id="back" name="back" class="btn" value="<?php echo $this->translate('ADMIN_LINK_LABEL_LANDLORDSTEP1_BACK');?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'default','controller'=>'property','action'=>'landlordstep1','id'=>$this->id),null,true)?>'" />
      <?php }else { ?>
            <input type="button" id="back" name="back" class="btn" value="<?php echo $this->translate('ADMIN_LINK_LABEL_LANDLORDSTEP1_BACK');?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'default','controller'=>'property','action'=>'landlordstep1'),null,true)?>'" />
  <?php } ?>
    </div>
  </div>
  <!-- box 2 BUTTONS-->
  
</form>
