<?php echo $this->genaral_data; ?>

<form id="PSForm" method="POST" enctype="multipart/form-data" class="form-horizontal">
  <?php if(!empty($this->message)){ ?>
  <?php if($this->messageType=='error'){?>
  <div class="msg error"><?php echo $this->message?></div>
  <?php } else { ?>
  <div class="msg confirm"><?php echo $this->message?></div>
  <?php }?>
  <?php } ?>
  <div class="control-group">
  <div class="controls"><h3>Amenities</h3></div>
  <div class="controls"><h3>Note: Please verify utility options below.</h3></div>  
  </div>

  <div class="control-group">
  	<h4>Indoor</h4>
  </div>
   <div class="control-group">
    <label class="control-label" for="inputFirstName"><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_INDOOR_CEILING_FANS');?> :</label>
    <div class="controls"> <?php echo $this->objForm->indoor_ceiling_fans;?> </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputLastName"><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_DEPOSIT_INDOOR_FUNISHED');?> :</label>
    <div class="controls"><?php echo $this->objForm->indoor_furnished;?></div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputCity"><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_INDOOR_FIREPLACE');?> :</label>
    <div class="controls"> <?php echo $this->objForm->indoor_fireplace;?> </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputState"><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_INDOOR_CABLE_INCLUDED');?> :</label>
    <div class="controls"> <?php echo $this->objForm->indoor_cable_included;?> </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputZipCode"><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_INDOOR_SECURITY_SYSTEM');?> :</label>
    <div class="controls"> <?php echo $this->objForm->indoor_security_system;?> </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPhone"><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_INDOOR_LAUDRY');?> :</label>
    <div class="controls"> <?php echo $this->objForm->indoor_laundry_type;?> </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputSometimeAfter"><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_INDOOR_HEATING_TYPE');?> :</label>
    <div class="controls"> <?php echo $this->objForm->indoor_heating_type;?> </div>
  </div>
  <div class="control-group">
  <h4>Kitchen</h4>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputVoucherStatus"><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_KITCHEN_DISHWASHER');?> :</label>
    <div class="controls"> <?php echo $this->objForm->kitchen_dishwasher;?> </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPets"><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_KITCHEN_STOVE');?> :</label>
    <div class="controls"> <?php echo $this->objForm->kitchen_stove;?> </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputAccessibilityNeeds"><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_KITCHEN_GARBAGE_DISPOSAL');?> :</label>
    <div class="controls"> <?php echo $this->objForm->kitchen_garbage_disposal;?> </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputFreeListingAlerts"><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_KITCHEN_REFRIGERATOR');?> :</label>
    <div class="controls"> <?php echo $this->objForm->kitchen_refrigerator;?> </div>
  </div>
    <div class="control-group">
    <label class="control-label" for="inputFreeListingAlerts"><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_KITCHEN_MICROWAVE');?> :</label>
    <div class="controls"> <?php echo $this->objForm->kitchen_microwave;?> </div>
  </div>
  
  <div class="control-group">
  	<h4>Outdoor</h4>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputFreeListingAlerts"><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_OUTDOOR_SWIMMING_POOL');?> :</label>
    <div class="controls"> <?php echo $this->objForm->outdoor_swimming_pool;?> </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputFreeListingAlerts"><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_OUTDOOR_GATED_COMMUNITY');?> :</label>
    <div class="controls"> <?php echo $this->objForm->outdoor_gated_community;?> </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputFreeListingAlerts"><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_OUTDOOR_LAWN_CARE_INCLUDED');?> :</label>
    <div class="controls"> <?php echo $this->objForm->outdoor_lawn_care_included;?> </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputFreeListingAlerts"><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_OUTDOOR_TRASH_REMOVAL_INCLUDED');?> :</label>
    <div class="controls"> <?php echo $this->objForm->outdoor_trash_removal_included;?> </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputFreeListingAlerts"><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_OUTDOOR_FENCED_YARD');?> :</label>
    <div class="controls"> <?php echo $this->objForm->outdoor_fenced_yard;?> </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputFreeListingAlerts"><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_OUTDOOR_PARKONG_TYPE');?> :</label>
    <div class="controls"> <?php echo $this->objForm->outdoor_parking_type;?> </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputFreeListingAlerts"><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_OUTDOOR_PARKONG_PATIO');?> :</label>
    <div class="controls"> <?php echo $this->objForm->outdoor_patio;?> </div>
  </div>

  <div class="control-group">
  	<h4>Other</h4>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputFreeListingAlerts"><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_SMOKING_ALLOWED');?> :</label>
    <div class="controls"> <?php echo $this->objForm->utilities_pest_control;?> </div>
  </div>
  
 <div class="control-group">
  	<h4>Utilities</h4>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputFreeListingAlerts"><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_UTILITIES_ELECTRIC');?> :</label>
    <div class="controls"> <?php echo $this->objForm->utilities_electric;?> </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputFreeListingAlerts"><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_UTILITIES_HEATING_FUEL');?> :</label>
    <div class="controls"> <?php echo $this->objForm->utilities_heating_fuel;?> </div>
    <div class="controls"> <?php echo $this->objForm->utilities_heating_fuel_rent;?> </div>    
  </div>
  <div class="control-group">
    <label class="control-label" for="inputFreeListingAlerts"><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_UTILITIES_WATER');?> :</label>
    <div class="controls"> <?php echo $this->objForm->utilities_water;?> </div>
    <div class="controls"> <?php echo $this->objForm->utilities_water_rent;?> </div>    
  </div>
  <div class="control-group">
    <label class="control-label" for="inputFreeListingAlerts"><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_UTILITIES_HOT_WATER');?> :</label>
    <div class="controls"> <?php echo $this->objForm->utilities_hot_water;?> </div>
    <div class="controls"> <?php echo $this->objForm->utilities_hot_water_rent;?> </div>    
  </div>
  <div class="control-group">
    <label class="control-label" for="inputFreeListingAlerts"><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_UTILITIES_COOKING_FUEL');?> :</label>
    <div class="controls"> <?php echo $this->objForm->utilities_cooking_fuel;?> </div>
     <div class="controls"> <?php echo $this->objForm->utilities_cooking_fuel_rent;?> </div>   
  </div>
  <div class="control-group">
    <label class="control-label" for="inputFreeListingAlerts"><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_UTILITIES_SEWER');?> :</label>
    <div class="controls"> <?php echo $this->objForm->utilities_sewer;?> </div>
     <div class="controls"> <?php echo $this->objForm->utilities_sewer_rent;?> </div>   
  </div>
  <div class="control-group">
    <label class="control-label" for="inputFreeListingAlerts"><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_UTILITIES_COOLING');?> :</label>
    <div class="controls"> <?php echo $this->objForm->utilities_cooling;?> </div>
    <div class="controls"> <?php echo $this->objForm->utilities_cooling_rent;?> </div>
  </div>

  <div class="clr"></div>
  <div class="control-group">
    <div class="controls">
      <input type="hidden" id="id" name="id" value="<?php echo $this->id; ?>" >
    </div>
  </div>
  
  <!-- 1st column of main box ends here -->
  
  <div class="control-group">
    <div class="controls">
      <?php if($this->currentAction == 'Step3Add') : ?>
      <?php echo $this->objForm->add_btn;?>
      <?php else : ?>
      <?php echo $this->objForm->edit_btn;?>
      <?php endif;?>
         <?php    if(isset($this->id) && $this->id != ''){ ?>
      <input type="button" id="back" name="back" class="btn" value="<?php echo $this->translate('ADMIN_LINK_LABEL_LANDLORDSTEP1_BACK');?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'default','controller'=>'property','action'=>'landlordstep2','id'=>$this->id),null,true)?>'" />
  <?php } ?>

    </div>
  </div>
  <!-- box 2 BUTTONS-->
  
</form>
