<?php echo $this->genaral_data; ?>

<!-- ckeditor -->
<script type="text/javascript" src="<?php echo $this->baseUrl();?>/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl();?>/ckfinder/ckfinder.js"></script>
<!-- ckeditor -->

<?php $this->InlineScript()->captureStart()?>
$(document).ready(function() {	
			
			jQuery( "#date_available" ).datepicker({ 
				changeMonth: true,
				changeYear: true,
				dateFormat:"dd-mm-yy" });
                
                
	
 	var editor = CKEDITOR.replace( 'description' );
	editor.setData($('#getdesc').val());
	
  	var editor = CKEDITOR.replace( 'highlights' );
	editor.setData($('#gethighlights').val());

	// Just call CKFinder.setupCKEditor and pass the CKEditor instance as the first argument.
	// The second parameter (optional), is the path for the CKFinder installation (default = "/ckfinder/").
	var CKFINDER_PATH = jQuery('#CKFINDER_PATH').val();
	CKFinder.setupCKEditor( editor, CKFINDER_PATH ) ;			
   
    
                
                         
});

<?php $this->InlineScript()->captureEnd()?>

<form id="PSForm" method="POST" enctype="multipart/form-data" class="form-horizontal">


  <?php if(!empty($this->message)){ ?>
  <?php if($this->messageType=='error'){?>
  <div class="msg error"><?php echo $this->message?></div>
  <?php } else { ?>
  <div class="msg confirm"><?php echo $this->message?></div>
  <?php }?>
  <?php } ?>
  <div class="control-group">
    <label class="control-label" for="inputFirstName"><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP2_RENT');?> :</label>
    <div class="controls"> <?php echo $this->objForm->rent;?> </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputLastName"><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP2_DEPOSIT');?> :</label>
    <div class="controls"><?php echo $this->objForm->deposit;?></div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputCity"><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP2_DEPOSIT_NEGOTIABLE');?> :</label>
    <div class="controls"> <?php echo $this->objForm->deposit_negotiable;?> </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputState"><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP2_HIGHLIGHTS');?> :</label>
    <div class="controls"> <?php echo $this->objForm->highlights;?>
     </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputZipCode"><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP2_BEDROOMS');?> :</label>
    <div class="controls"> <?php echo $this->objForm->bedrooms;?> </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPhone"><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP2_BATHROOMS');?> :</label>
    <div class="controls"> <?php echo $this->objForm->bathrooms;?> </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputSometimeAfter"><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP2_YEAR_BUILT');?> :</label>
    <div class="controls"> <?php echo $this->objForm->year_built;?> </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputVoucherStatus"><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP2_DATE_AVAILABLE');?> :</label>
    <div class="controls"> <?php echo $this->objForm->date_available;?> </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPets"><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP2_DESCRIPTION');?> :</label>
   <div class="controls"> <?php echo $this->objForm->description;?> </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputAccessibilityNeeds"><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP2_PROPERTY_TYPE');?> :</label>
    <div class="controls"> <?php echo $this->objForm->property_type;?> </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputFreeListingAlerts"><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP2_SQUARE_FOOTAGE');?> :</label>
    <div class="controls"> <?php echo $this->objForm->square_footage;?> </div>
  </div>
    <div class="control-group">
    <label class="control-label" for="inputFreeListingAlerts"><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP2_LOT_SIZE');?> :</label>
    <div class="controls"> <?php echo $this->objForm->lot_size;?> </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputFreeListingAlerts"><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP2_FIFTY_FIVE_ONLY');?> :</label>
    <div class="controls"> <?php echo $this->objForm->fifty_five_only;?> </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputFreeListingAlerts"><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP2_PET_POLICY');?> :</label>
    <div class="controls"> <?php echo $this->objForm->pet_policy;?> </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputFreeListingAlerts"><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP2_SMOKING_ALLOWED');?> :</label>
    <div class="controls"> <?php echo $this->objForm->smoking_allowed;?> </div>
  </div>

  <div class="clr"></div>
  <div class="control-group">
    <div class="controls">
      <input type="hidden" id="id" name="id" value="<?php echo $this->id; ?>" >
     <textarea id="getdesc" style="display:none;"><?php echo stripslashes($this->description);?></textarea> 
     <textarea id="gethighlights" style="display:none;"><?php echo stripslashes($this->highlights);?></textarea>  
    </div>
  </div>
  
  <!-- 1st column of main box ends here -->
  
  <div class="control-group">
    <div class="controls">
      <?php if($this->currentAction == 'Step2Add') : ?>
      <?php echo $this->objForm->add_btn;?>
      <?php else : ?>
      <?php echo $this->objForm->edit_btn;?>
      <?php endif;?>
   <?php    if(isset($this->id) && $this->id != ''){ ?>
      <input type="button" id="back" name="back" class="btn" value="<?php echo $this->translate('ADMIN_LINK_LABEL_LANDLORDSTEP1_BACK');?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'default','controller'=>'property','action'=>'landlordstep1','id'=>$this->id),null,true)?>'" />
  <?php } ?>
    </div>
  </div>
  <!-- box 2 BUTTONS-->
  
</form>

<input type="hidden"  id="CKFINDER_PATH" value="<?php echo CKFINDER_PATH;?>" />