<?php echo $this->genaral_data; ?>


<?php $this->InlineScript()->captureStart()?>
$(document).ready(function() {	
	//make selected left menu item 

    $(".select-tr").click(function() {
  		$('#id').val(this.id);
       	$('.select-tr').removeClass('selected');
       	$(this).addClass('selected');
	});
    
    $.deleteimage = function(id) { 			                                
        if(id){
        	if( confirm("<?php echo $this->translate('ADMIN_MSG_ALERT_LANDLORDSTEP4_DELETE');?>") ){
        	window.location.href = '<?php echo $this->url(array('module'=>'default','controller'=>'property','action'=>'deleteimage'),null,true)?>/id/'+id;
        	}
         }else{
        	alert('please select at least one record!');
        }                
    }; 
                    
    
});
<?php $this->InlineScript()->captureEnd()?>



<form id="PSForm" method="POST" enctype="multipart/form-data" class="form-horizontal">
  <?php if(!empty($this->message)){ ?>
  <?php if($this->messageType=='error'){?>
  <div class="msg error"><?php echo $this->message?></div>
  <?php } else { ?>
  <div class="msg confirm"><?php echo $this->message?></div>
  <?php }?>
  <?php } ?>

  <div class="control-group">
  	<h4>Add Photos</h4>
  </div>
   <div class="control-group">
    <label class="control-label" for="inputFirstName"><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP4_URL');?> :</label>
    <div class="controls"> <?php echo $this->objForm->url;?> </div>
    
    <?php if(isset($this->arrData) && $this->arrData != '') { ?>
     <?php foreach ( $this->arrData as $data ):?>
     <div class="control-group">
     <div class="controls">
     
      <img src="<?php echo IMAGE_PATH.$data['url'];?>" width="70" height="70" alt="preview"/> 

      <img class="img-icon-size" name="edit_link" id="edit_link" src="<?php echo USER_IMAGES_PATH;?>delete.png" onclick="$.deleteimage(<?php echo $data['id'] ?>);" />
      
      </div>
      </div>
    
     <?php endforeach;?>
     <?php } ?>
      
      
  
  </div>

  <div class="clr"></div>
  <div class="control-group">
    <div class="controls">
      <input type="hidden" id="id" name="id" value="<?php echo $this->id; ?>" >
    </div>
  </div>
  
  <!-- 1st column of main box ends here -->
  
  <div class="control-group">
    <div class="controls">
      <?php if($this->currentAction == 'Step4Add') : ?>
      <?php echo $this->objForm->add_btn;?>
      <?php else : ?>
      <?php echo $this->objForm->edit_btn;?>
      <?php endif;?>
         <?php    if(isset($this->id) && $this->id != ''){ ?>
      <input type="button" id="back" name="back" class="btn" value="<?php echo $this->translate('ADMIN_LINK_LABEL_LANDLORDSTEP1_BACK');?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'default','controller'=>'property','action'=>'landlordstep3','id'=>$this->id),null,true)?>'" />
  <?php } ?>

    </div>
  </div>
  <!-- box 2 BUTTONS-->
  
</form>
