<?php



		global $arrProperty_Type;
		global $arrLot_Size;
		global $arrLandlordType;
		global $arrBedrooms;
		global $arrBathrooms;
		global $arrUtilitiesType;
		global $arrLaundryType;
		global $arrHeatingType;
		global $arrParking_Type;
		global $arrPatioType;
		global $arrHeatingFuelType;
		global $arrCityWaterType;
		global $arrWaterType;
		global $arrSewerType;
		global $arrCoolingType;
		//global;
		
		//_pr($arrUtilitiesType,1);
?>
<table cellpadding="0" cellspacing="0" border="0" class="table table-hover">
  <tbody>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP1_NAME');?></td>
      <td><?php echo $this->arrDataList['name'];?></td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP1_EMAIL');?></td>
      <td><?php echo $this->arrDataList['email']; ?></td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP1_NAME');?></td>
      <td><?php echo $this->arrDataList['phone']; ?></td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP1_ADDRESS');?></td>
      <td><?php echo $this->arrDataList['address']; ?></td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP1_UNIT');?></td>
      <td><?php echo $this->arrDataList['unit']; ?></td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP1_CITY');?></td>
      <td><?php echo $this->arrDataList['city']; ?></td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP1_STATE');?></td>
      <td><?php echo $this->arrStates[$this->arrDataList['state_id']]; ?></td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP1_ZIP');?></td>
      <td><?php echo $this->arrDataList['zip']; ?></td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP1_NEIGHBORHOOD'); ?></td>
      <td>
	  <?php if(isset($this->arrDataList['neighborhood']) && $this->arrDataList['neighborhood'] !== '' ) {?>
	  <?php echo $this->arrDataList['neighborhood']; ?>
      <?php }else {
		 echo '---';
	  }
		?>
      </td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP1_COMMUNITY_NAME');?></td>
      <td>
	  <?php if(isset($this->arrDataList['neighborhood']) && $this->arrDataList['neighborhood'] !== '' ) {?>
	  <?php echo $this->arrDataList['community_name']; ?>
      <?php }else {
		 echo '---';
	  }
		?>
      </td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP1_STREET_VIEW');?></td>
      <td>
	  <?php if(isset($this->arrDataList['street_view']) && $this->arrDataList['street_view'] !== '' ) {?>
	  <?php echo $arrLandlordType[$this->arrDataList['street_view']]; ?>
      <?php }else {
		 echo '---';
	  }
		?>
      </td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP2_RENT');?></td>
      <td><?php echo $this->arrDataList['rent']; ?></td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP2_DEPOSIT');?></td>
      <td><?php echo $this->arrDataList['deposit']; ?></td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP2_DEPOSIT_NEGOTIABLE');?></td>
      <td>
	   <?php if(isset($this->arrDataList['deposit_negotiable']) && $this->arrDataList['deposit_negotiable'] !== '' ) {?>
	  <?php echo $arrLandlordType[$this->arrDataList['deposit_negotiable']]; ?>
      <?php }else {
		 echo '---';
	  }
		?>
      </td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP2_HIGHLIGHTS');?></td>
      <td>
	  <?php if(isset($this->arrDataList['highlights']) && $this->arrDataList['highlights'] !== '' ) { ?>
	  <?php echo $this->arrDataList['highlights']; ?>
      <?php }else {
		 echo '---';
	  }
		?>
      </td>
    </tr>
    <tr>
     <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP2_BEDROOMS');?></td>
  	  <td>
	  <?php if(isset($this->arrDataList['bedrooms']) && $this->arrDataList['bedrooms'] !== '' ) {?>
	  <?php echo $arrBedrooms[$this->arrDataList['bedrooms']]; ?>
     <?php }else {
		 echo 'Unknown';
	  }
		?>
     </td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP2_BATHROOMS');?></td>
      <td>
	  <?php if(isset($this->arrDataList['bathrooms']) && $this->arrDataList['bathrooms'] !== '' ) {?>
	  <?php echo $arrBathrooms[$this->arrDataList['bathrooms']]; ?>
       <?php }else {
		 echo '---';
	  }
		?>
      </td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP2_YEAR_BUILT');?></td>
      <td><?php echo $this->arrDataList['year_built']; ?></td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP2_DATE_AVAILABLE');?></td>
      <td><?php echo $this->arrDataList['date_available']; ?></td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP2_DESCRIPTION');?></td>
      <td>
	  <?php if(isset($this->arrDataList['highlights']) && $this->arrDataList['highlights'] !== '' ) { ?>
	  <?php echo $this->arrDataList['description']; ?>
       <?php }else {
		 echo '---';
	  }
		?>
      </td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP2_PROPERTY_TYPE');?></td>
      <td>
	  <?php if(isset($this->arrDataList['property_type']) && $this->arrDataList['property_type'] !== '' ) {?>
	  <?php echo $arrProperty_Type[$this->arrDataList['property_type']]; ?>
       <?php }else {
		 echo '---';
	  }
		?>
      </td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP2_SQUARE_FOOTAGE');?></td>
      <td><?php echo $this->arrDataList['square_footage']; ?></td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP2_LOT_SIZE');?></td>
      <td>
	  <?php if(isset($this->arrDataList['lot_size']) && $this->arrDataList['lot_size'] !== '' ) {?>
	  <?php echo $arrLot_Size[$this->arrDataList['lot_size']]; ?>
      <?php }else {
		 echo 'Unknown';
	  }
		?>
      </td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP2_FIFTY_FIVE_ONLY');?></td>
      <td>
	  	  <?php if(isset($this->arrDataList['fifty_five_only']) && $this->arrDataList['fifty_five_only'] !== '' ) {?>
		  <?php echo $arrLandlordType[$this->arrDataList['fifty_five_only']]; ?>
          <?php }else {
		 echo '---';
	  }
		?>
          </td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP2_PET_POLICY');?></td>
      <td>
	  <?php if(isset($this->arrDataList['pet_policy']) && $this->arrDataList['pet_policy'] !== '' ) {?>
	  <?php echo $arrLandlordType[$this->arrDataList['pet_policy']]; ?>
       <?php }else {
		 echo '---';
	  }
		?>
      </td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP2_SMOKING_ALLOWED');?></td>
      <td>
	  <?php if(isset($this->arrDataList['smoking_allowed']) && $this->arrDataList['smoking_allowed'] !== '' ) {?>
	  <?php echo $arrLandlordType[$this->arrDataList['smoking_allowed']]; ?>
      <?php }else {
		 echo '---';
	  }
		?>
      </td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_INDOOR_CEILING_FANS');?></td>
      <td>
      <?php if(isset($this->arrDataList['indoor_ceiling_fans']) && $this->arrDataList['indoor_ceiling_fans'] !== '' ) {?>
	  <?php echo $arrUtilitiesType[$this->arrDataList['indoor_ceiling_fans']]; ?>
      <?php }else {
		 echo '---';
	  }
		?>
      </td>
      
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_DEPOSIT_INDOOR_FUNISHED');?></td>
      <td>
	  <?php if(isset($this->arrDataList['indoor_furnished']) && $this->arrDataList['indoor_furnished'] !== '' ) {?>
	  <?php echo $arrUtilitiesType[$this->arrDataList['indoor_furnished']]; ?>
      <?php }else {
		 echo '---';
	  }
		?>
      </td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_INDOOR_FIREPLACE');?></td>
      <td>
	  <?php if(isset($this->arrDataList['indoor_furnished']) && $this->arrDataList['indoor_furnished'] !== '' ) {?>
	  <?php echo $arrUtilitiesType[$this->arrDataList['indoor_fireplace']]; ?>
      <?php }else {
		 echo '---';
	  }
		?>
      </td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_INDOOR_CABLE_INCLUDED');?></td>
      <td>
  	  <?php if(isset($this->arrDataList['indoor_cable_included']) && $this->arrDataList['indoor_cable_included'] !== '' ) {?>
	  <?php echo $arrUtilitiesType[$this->arrDataList['indoor_cable_included']]; ?>
       <?php }else {
		 echo '---';
	  }
		?>
      </td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_INDOOR_SECURITY_SYSTEM');?></td>
      <td>
   	  <?php if(isset($this->arrDataList['indoor_security_system']) && $this->arrDataList['indoor_security_system'] !== '' ) {?>
	  <?php echo $arrUtilitiesType[$this->arrDataList['indoor_security_system']]; ?>
     <?php }else {
		 echo '---';
	  }
		?>
	</td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_INDOOR_LAUDRY');?></td>
      <td>
   	  <?php if(isset($this->arrDataList['indoor_laundry_type']) && $this->arrDataList['indoor_laundry_type'] !== '' ) {?>
	  <?php echo $arrLaundryType[$this->arrDataList['indoor_laundry_type']]; ?>
      <?php }else {
		 echo '---';
	  }
		?>
      </td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_INDOOR_HEATING_TYPE');?></td>
      <td>
      <?php if(isset($this->arrDataList['indoor_heating_type']) && $this->arrDataList['indoor_heating_type'] !== '' ) {?>
	  <?php echo $arrHeatingType[$this->arrDataList['indoor_heating_type']]; ?>
      <?php }else {
		 echo '---';
	  }
		?>
      </td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_KITCHEN_DISHWASHER');?></td>
      <td>
	  <?php if(isset($this->arrDataList['kitchen_dishwasher']) && $this->arrDataList['kitchen_dishwasher'] !== '' ) {?>
	  <?php echo $arrUtilitiesType[$this->arrDataList['kitchen_dishwasher']]; ?>
      <?php }else {
		 echo '---';
	  }
		?>
      </td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_KITCHEN_STOVE');?></td>
      <td>
	  <?php if(isset($this->arrDataList['kitchen_stove']) && $this->arrDataList['kitchen_stove'] !== '' ) {?>
	  <?php echo $arrUtilitiesType[$this->arrDataList['kitchen_stove']]; ?>
       <?php }else {
		 echo '---';
	  }
		?>
      </td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_KITCHEN_GARBAGE_DISPOSAL');?></td>
      <td>
	  <?php if(isset($this->arrDataList['kitchen_garbage_disposal']) && $this->arrDataList['kitchen_garbage_disposal'] !== '' ) {?>
	  <?php echo $arrUtilitiesType[$this->arrDataList['kitchen_garbage_disposal']]; ?>
       <?php }else {
		 echo '---';
	  }
		?>
      </td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_KITCHEN_REFRIGERATOR');?></td>
      <td>
	  <?php if(isset($this->arrDataList['kitchen_refrigerator']) && $this->arrDataList['kitchen_refrigerator'] !== '' ) {?>
	  <?php echo $arrUtilitiesType[$this->arrDataList['kitchen_refrigerator']]; ?>
       <?php }else {
		 echo '---';
	  }
		?>
      </td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_KITCHEN_MICROWAVE');?></td>
      <td>
	  <?php if(isset($this->arrDataList['kitchen_microwave']) && $this->arrDataList['kitchen_microwave'] !== '' ) {?>
	  <?php echo $arrUtilitiesType[$this->arrDataList['kitchen_microwave']]; ?>
      <?php }else {
		 echo '---';
	  }
		?>
      </td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_OUTDOOR_SWIMMING_POOL');?></td>
      <td>
	  <?php if(isset($this->arrDataList['outdoor_swimming_pool']) && $this->arrDataList['outdoor_swimming_pool'] !== '' ) {?>
	  <?php echo $arrUtilitiesType[$this->arrDataList['outdoor_swimming_pool']]; ?>
       <?php }else {
		 echo '---';
	  }
		?>
      </td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_OUTDOOR_GATED_COMMUNITY');?></td>
      <td>
      <?php if(isset($this->arrDataList['outdoor_gated_community']) && $this->arrDataList['outdoor_gated_community'] !== '' ) {?>
	  <?php echo $arrUtilitiesType[$this->arrDataList['outdoor_gated_community']]; ?>
       <?php }else {
		 echo '---';
	  }
		?>
      </td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_OUTDOOR_LAWN_CARE_INCLUDED');?></td>
      <td>
	  <?php if(isset($this->arrDataList['outdoor_lawn_care_included']) && $this->arrDataList['outdoor_lawn_care_included'] !== '' ) {?>
	  <?php echo $arrUtilitiesType[$this->arrDataList['outdoor_lawn_care_included']]; ?>
      <?php }else {
		 echo '---';
	  }
		?>
      </td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_OUTDOOR_TRASH_REMOVAL_INCLUDED');?></td>
      <td>
	  <?php if(isset($this->arrDataList['outdoor_trash_removal_included']) && $this->arrDataList['outdoor_trash_removal_included'] !== '' ) {?>
	  <?php echo $arrUtilitiesType[$this->arrDataList['outdoor_trash_removal_included']]; ?>
      <?php }else {
		 echo '---';
	  }
		?>
      </td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_OUTDOOR_FENCED_YARD');?></td>
      <td>
	  <?php if(isset($this->arrDataList['outdoor_fenced_yard']) && $this->arrDataList['outdoor_fenced_yard'] !== '' ) {?>
	  <?php echo $arrUtilitiesType[$this->arrDataList['outdoor_fenced_yard']]; ?>
      <?php }else {
		 echo '---';
	  }
		?>
      </td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_OUTDOOR_PARKONG_TYPE');?></td>
      <td>
	  <?php if(isset($this->arrDataList['outdoor_parking_type']) && $this->arrDataList['outdoor_parking_type'] !== '' ) {?>
	  <?php echo $arrParking_Type[$this->arrDataList['outdoor_parking_type']]; ?>
      <?php }else {
		 echo '---';
	  }
		?>
      </td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_OUTDOOR_PARKONG_PATIO');?></td>
      <td>
	  <?php if(isset($this->arrDataList['outdoor_trash_removal_included']) && $this->arrDataList['outdoor_trash_removal_included'] !== '' ) {?>
	  <?php echo $arrPatioType[$this->arrDataList['outdoor_patio']]; ?>
      <?php }else {
		 echo '---';
	  }
		?>
      </td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_SMOKING_ALLOWED');?></td>
      <td>
	  <?php if(isset($this->arrDataList['outdoor_trash_removal_included']) && $this->arrDataList['outdoor_trash_removal_included'] !== '' ) {?>
	  <?php echo $arrUtilitiesType[$this->arrDataList['utilities_pest_control']]; ?>
      <?php }else {
		 echo '---';
	  }
		?>
      </td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_UTILITIES_ELECTRIC');?></td>
      <td>
	  <?php if(isset($this->arrDataList['outdoor_trash_removal_included']) && $this->arrDataList['outdoor_trash_removal_included'] !== '' ) {?>
	  <?php echo $arrUtilitiesType[$this->arrDataList['utilities_electric']]; ?>
      <?php }else {
		 echo '---';
	  }
		?>
      </td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_UTILITIES_HEATING_FUEL');?></td>
      <td>
	  <?php if(isset($this->arrDataList['outdoor_trash_removal_included']) && $this->arrDataList['outdoor_trash_removal_included'] !== '' ) {?>
	  <?php echo $arrHeatingFuelType[$this->arrDataList['utilities_heating_fuel_rent']]; 
	   }else {
		 echo '---';
	  } 
	  
	  if(isset($this->arrDataList['outdoor_trash_removal_included']) && $this->arrDataList['outdoor_trash_removal_included'] !== '' ) { 
	   echo '&nbsp;AND&nbsp'.$arrUtilitiesType[$this->arrDataList['utilities_heating_fuel']]; 
       }else { 
		 echo '---';
	  }
		?>
      </td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_UTILITIES_WATER');?></td>
      <td>
	  <?php if(isset($this->arrDataList['utilities_water_rent']) && $this->arrDataList['utilities_water_rent'] !== '' ) {?>
	  <?php echo $arrCityWaterType[$this->arrDataList['utilities_water_rent']];
	   }else {
		 echo '---';
	  } 
	 
	  if(isset($this->arrDataList['utilities_water']) && $this->arrDataList['utilities_water'] !== '' ) {
	   echo '&nbsp;AND&nbsp'.$arrUtilitiesType[$this->arrDataList['utilities_water']];
      }else {
		 echo '---';
	  }
		?>
      </td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_UTILITIES_HOT_WATER');?></td>
      <td>
	  <?php if(isset($this->arrDataList['utilities_hot_water_rent']) && $this->arrDataList['utilities_hot_water_rent'] !== '' ) {?>
	  <?php echo $arrWaterType[$this->arrDataList['utilities_hot_water_rent']];
	    }else {
		 echo '---';
	  }
	  
	  if(isset($this->arrDataList['utilities_hot_water']) && $this->arrDataList['utilities_hot_water'] !== '' ) {
	  echo '&nbsp;AND&nbsp'.$arrUtilitiesType[$this->arrDataList['utilities_hot_water']];
        }else {
		//echo '&nbsp;AND&nbsp';  
		 echo '---';
	  }
		?>
      </td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_UTILITIES_COOKING_FUEL');?></td>
      <td>
	  <?php if(isset($this->arrDataList['utilities_cooking_fuel_rent']) && $this->arrDataList['utilities_cooking_fuel_rent'] !== '' ) {?>
	  <?php echo $arrWaterType[$this->arrDataList['utilities_cooking_fuel_rent']];
	   }else {
		 echo '---';
	  }
	 
	  if(isset($this->arrDataList['utilities_cooking_fuel']) && $this->arrDataList['utilities_cooking_fuel'] !== '' ) {
	  echo '&nbsp;AND&nbsp'.$arrUtilitiesType[$this->arrDataList['utilities_cooking_fuel']]; 
        }else {
		 echo '---';
	  }
		?>
      </td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_UTILITIES_SEWER');?></td>
      <td>
	  <?php if(isset($this->arrDataList['utilities_sewer_rent']) && $this->arrDataList['utilities_sewer_rent'] !== '' ) {?>
	  <?php echo $arrSewerType[$this->arrDataList['utilities_sewer_rent']];
	   }else {
		 echo '---';
	  }
	  if(isset($this->arrDataList['utilities_sewer']) && $this->arrDataList['utilities_sewer'] !== '' ) {
	  echo '&nbsp;AND&nbsp'.$arrUtilitiesType[$this->arrDataList['utilities_sewer']]; 
       }else {
		 echo '---';
	  }
		?>
      </td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP3_UTILITIES_COOLING');?></td>
      <td>
	  <?php if(isset($this->arrDataList['utilities_cooling_rent']) && $this->arrDataList['utilities_cooling_rent'] !== '' ) {?>
	  <?php echo $arrCoolingType[$this->arrDataList['utilities_cooling_rent']];
	   }else {
		 echo '---';
	  }
	  
	  if(isset($this->arrDataList['utilities_cooling']) && $this->arrDataList['utilities_cooling'] !== '' ) {
	  echo '&nbsp;AND&nbsp'.$arrUtilitiesType[$this->arrDataList['utilities_cooling']]; 
       }else {
		 echo '---';
	  }
		?>
      </td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP4_IMAGE');?></td>
      <?php if(isset($this->arrDataList['url']) && $this->arrDataList['url'] != '') {?>
  		<td><img src="<?php echo IMAGE_PATH.$this->arrDataList['url'];?>" width="70" height="70" alt="preview"/></td>
        <?php }else{ ?>
  		<td><img src="<?php echo USER_IMAGES_PATH; ?>noimage.jpg" width="70" height="70" alt="preview"/></td>
        <?php } ?>
    </tr>
    <tr>
<!--    <tr>
      <td><?php echo $this->translate('');?></td>
      <td><?php echo $this->arrDataList['']; ?></td>
    </tr>
-->  </tbody>
</table>
</form>
<div class="clr">&nbsp;</div>
<input type="hidden" id="id" name="id">
