<?php $this->InlineScript()->captureStart()?>
$(document).ready(function() {	
	//make selected left menu item 
            
    $(".select-tr").click(function() {
  		$('#id').val(this.id);
       	$('.select-tr').removeClass('selected');
       	$(this).addClass('selected');
	});
    
  
    
    $.deleteProperty = function(id) {         			                                
        if(id){        	            
            if( confirm("<?php echo $this->translate('ADMIN_MSG_ALERT_USER_DELETE');?>") ){
            window.location.href = '<?php echo $this->url(array('module'=>'default','controller'=>'property','action'=>'delete'),null,true)?>/id/'+id;
            }            
        }else{
        	alert('please select at least one record!');
        }                
    };
     
});
<?php $this->InlineScript()->captureEnd()?>


  <?php if(!empty($this->message)){ ?>
  <?php if($this->messageType=='error'){?>
  <div class="msg error"><?php echo $this->message?></div>
  <?php } else { ?>
  <div class="msg confirm"><?php echo $this->message?></div>
  <?php }?>
  <?php } ?>


    	<div class="field">
    	<form method="GET" name="PSForm_search" id="PSForm_search" class="form label-inline">
            <span>
	           <?php echo $this->objForm->searchtype;?>            	
   			   <?php echo $this->objForm->txtsearch;?>     
      	 	   <?php echo $this->objForm->search;?> 
            </span>
         </form> 
         </div>
         <form method="post" name="PSForm" id="PSForm" class="form label-inline">  
         
          <br>
          <table cellpadding="0" cellspacing="0" border="0" class="table table-hover">
			<thead>
				<tr>
                	<!--<th><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP4_IMAGE');?></th>-->
					<th><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP1_NAME');?></th>
					<th><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP1_CITY');?></th>
					<th><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP1_STATE');?></th>
                    <th><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP2_BEDROOMS');?></th>
                    <th><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP2_BATHROOMS');?></th>
                    <th><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP2_RENT');?></th>
					<th><?php echo $this->translate('ADMIN_LABEL_ACTION');?></th>	
				</tr>
			</thead>
			<tbody>
				<?php if(count($this->arrDataList) < 1) : ?>
					<tr align="odd gradeX">
					<td colspan="7" align="center"><?php echo $this->translate('NO_RECORD_FOUND');?></td></tr>
				<?php else: ?>    
				<?php 
					
					foreach ( $this->arrDataList as $data ):
				?>
					<tr id="<?php echo $data->id; ?>" class="<?php echo $class_name;?>">
                    	<!--<td><img src="<?php //echo IMAGE_PATH.$this->escape($data->url);?>" width="70" height="70" alt="preview"/></td>-->
						<td><?php echo ($data->name);?></td>
                        <td><?php echo $this->escape($data->city);?></td>
                        <td><?php echo $this->escape($this->arrStates[$data->state_id]);?></td>
						<td><?php echo $this->escape($data->bedrooms);?></td> 
 						<td><?php echo $this->escape($data->bathrooms);?></td>                       
						<td><?php echo $this->escape($data->rent);?></td> 
						<td>
							<a href="<?php echo $this->url(array('module'=>'default','controller'=>'property','action'=>'propertydetails','id'=>$data->id),null,true)?>">
                            <img class="img-icon-size" name="edit_link" id="edit_link" src="<?php echo USER_IMAGES_PATH; ?>details.png"  /></a>
                            <a href="<?php echo $this->url(array('module'=>'default','controller'=>'property','action'=>'landlordstep1','id'=>$data->id),null,true)?>">
                            <img class="img-icon-size" name="edit_link" id="edit_link" src="<?php echo USER_IMAGES_PATH; ?>edit.png"  /></a>
							&nbsp;&nbsp;<img class="img-icon-size" name="delete_link" id="delete_link" src="<?php echo USER_IMAGES_PATH; ?>delete.png" onclick="$.deleteProperty(<?php echo $data->id; ?>);" />
						</td>         
					</tr>
				<?php 
					endforeach;   
				 endif; ?>
			</tbody>
			</table>
		</form>	
		<div class="clr">&nbsp;</div>
		<div class="pagination alignright" align="center"><?php echo $this->paginationControl ( $this->objPaginator, 'Sliding', 'paginator.phtml', array ('extraVar' => $this->pagingExtraVar ) ); ?></div>
	
    
  <input type="hidden" id="id" name="id">      
      